In [419]:
import pandas as pd
import numpy as np

In [420]:
df = pd.read_csv(r"D:\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Москва OSHISHA\Sell_out_Москва_OSHISHA.csv")

In [421]:
if df['Дата отгрузки'].str[:4].str.match(r"\d{4}.*",).all():
    df['Дата отгрузки'] = pd.to_datetime(df['Дата отгрузки'], yearfirst=True)

In [422]:
df['month'] = df['Дата отгрузки'].dt.month
df['year'] = df['Дата отгрузки'].dt.year

### Создание сводной таблицы продаж в кг

In [423]:
general_weight = df.pivot_table(
    values='ВЕС',
    index='Сегмент',
    columns=['year','month'],
    aggfunc = 'sum'
).reset_index()

In [424]:
general_weight.rename(columns={1:"янв"}, inplace=True)
general_weight.rename(columns={2:"фев"}, inplace=True)
general_weight.rename(columns={3:"мар"}, inplace=True)
general_weight.rename(columns={4:"апр"}, inplace=True)
general_weight.rename(columns={5:"май"}, inplace=True)
general_weight.rename(columns={6:"июн"}, inplace=True)
general_weight.rename(columns={7:"июл"}, inplace=True)
general_weight.rename(columns={8:"авг"}, inplace=True)
general_weight.rename(columns={9:"сен"}, inplace=True)
general_weight.rename(columns={10:"окт"}, inplace=True)
general_weight.rename(columns={11:"ноя"}, inplace=True)
general_weight.rename(columns={12:"дек"}, inplace=True)

In [425]:
general_weight.columns = [f'{i}{"-"}{j}' for i, j in general_weight.columns]

### Создание сводной таблицы продаж в долях каждого сегмента в %

In [426]:
general_proportion = df.pivot_table(
    values='ВЕС',
    index='Сегмент',
    columns=['year','month'],
    aggfunc= 'sum'
).reset_index()

In [427]:
general_proportion.rename(columns={1:"янв"}, inplace=True)
general_proportion.rename(columns={2:"фев"}, inplace=True)
general_proportion.rename(columns={3:"мар"}, inplace=True)
general_proportion.rename(columns={4:"апр"}, inplace=True)
general_proportion.rename(columns={5:"май"}, inplace=True)
general_proportion.rename(columns={6:"июн"}, inplace=True)
general_proportion.rename(columns={7:"июл"}, inplace=True)
general_proportion.rename(columns={8:"авг"}, inplace=True)
general_proportion.rename(columns={9:"сен"}, inplace=True)
general_proportion.rename(columns={10:"окт"}, inplace=True)
general_proportion.rename(columns={11:"ноя"}, inplace=True)
general_proportion.rename(columns={12:"дек"}, inplace=True)

In [428]:
general_proportion.columns = [f'{i}{"-"}{j}' for i, j in general_proportion.columns]

In [429]:
for a in general_proportion.iloc[:,1:].columns:
    general_proportion[a] = general_proportion[a] / general_proportion[a].sum()

### Создание сводной таблицы акб

In [430]:
df.head(2)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,month,year
0,КАМ 001 (Шулагин),УТ-00012216,спец. кальянный магазин,Hookah Market (Категорийный менеджер),"111024, г. Москва, ул. Авиамоторная, д. 73А...",2022-08-10,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),100.0,150,15.0,565.0,84750.0,66,8,2022
1,КАМ 001 (Шулагин),00-00009764,опт,Hookoff,"123592, Москва г, Внутригородская территория м...",2022-08-13,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,200.0,60,12.0,1050.0,63000.0,66,8,2022

In [431]:
akb = df.pivot_table(
    values='Код клиента',
    index='Сегмент',
    columns=['year','month'],
    aggfunc=  'nunique'
).reset_index()

In [432]:
akb.rename(columns={1:"янв"}, inplace=True)
akb.rename(columns={2:"фев"}, inplace=True)
akb.rename(columns={3:"мар"}, inplace=True)
akb.rename(columns={4:"апр"}, inplace=True)
akb.rename(columns={5:"май"}, inplace=True)
akb.rename(columns={6:"июн"}, inplace=True)
akb.rename(columns={7:"июл"}, inplace=True)
akb.rename(columns={8:"авг"}, inplace=True)
akb.rename(columns={9:"сен"}, inplace=True)
akb.rename(columns={10:"окт"}, inplace=True)
akb.rename(columns={11:"ноя"}, inplace=True)
akb.rename(columns={12:"дек"}, inplace=True)

In [433]:
akb.columns = [f'{i}{"-"}{j}' for i, j in akb.columns]

### Создание сводной таблицы Средний чек

In [434]:
df.head(2)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,month,year
0,КАМ 001 (Шулагин),УТ-00012216,спец. кальянный магазин,Hookah Market (Категорийный менеджер),"111024, г. Москва, ул. Авиамоторная, д. 73А...",2022-08-10,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),100.0,150,15.0,565.0,84750.0,66,8,2022
1,КАМ 001 (Шулагин),00-00009764,опт,Hookoff,"123592, Москва г, Внутригородская территория м...",2022-08-13,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,200.0,60,12.0,1050.0,63000.0,66,8,2022

In [435]:
sr_check_temp = df.groupby(by=['Сегмент','year', 'month']).agg({'ВЕС': 'sum', 'Код клиента':'nunique'}).reset_index()

In [436]:
sr_check_temp['Средний чек'] = sr_check_temp['ВЕС'] / sr_check_temp['Код клиента']
sr_check_temp['Средний чек'] = sr_check_temp['Средний чек'].round(2)

In [437]:
sr_check_temp.head(1)

     Сегмент  year  month     ВЕС  Код клиента  Средний чек
0  vape shop  2022      1  16.575            2         8.29

In [438]:
sr_check = sr_check_temp.pivot_table(
    values='Средний чек',
    index='Сегмент',
    columns=['year','month'],
    aggfunc='sum'
).reset_index()

In [439]:
sr_check.rename(columns={1:"янв"}, inplace=True)
sr_check.rename(columns={2:"фев"}, inplace=True)
sr_check.rename(columns={3:"мар"}, inplace=True)
sr_check.rename(columns={4:"апр"}, inplace=True)
sr_check.rename(columns={5:"май"}, inplace=True)
sr_check.rename(columns={6:"июн"}, inplace=True)
sr_check.rename(columns={7:"июл"}, inplace=True)
sr_check.rename(columns={8:"авг"}, inplace=True)
sr_check.rename(columns={9:"сен"}, inplace=True)
sr_check.rename(columns={10:"окт"}, inplace=True)
sr_check.rename(columns={11:"ноя"}, inplace=True)
sr_check.rename(columns={12:"дек"}, inplace=True)

In [440]:
sr_check.columns = [f'{i}{"-"}{j}' for i, j in sr_check.columns]

In [441]:
sr_check.head()

,Сегмент-,2022-янв,2022-фев,2022-мар,2022-апр,2022-май,2022-июн,2022-июл,2022-авг,2022-сен,2022-окт,2022-ноя,2022-дек,2023-янв,2023-фев,2023-мар,2023-апр,2023-май,2023-июн
0,vape shop,8.29,1.46,1.27,1.12,1.64,2.07,7.18,1.21,1.74,2.30,0.90,1.03,0.60,1.25,1.94,1.44,1.36,2.02
1,бар/ночной клуб,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.03,2.56,1.08,1.25,2.06,1.13,1.96,1.66
2,дистрибутор,NaN,NaN,93.73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,кальянная,2.65,2.88,4.64,3.51,3.44,3.37,3.46,3.20,3.36,3.20,3.39,3.99,3.24,3.36,3.68,3.67,4.46,4.00
4,кафе/ресторан,1.32,1.48,1.94,2.64,2.20,2.83,3.07,3.57,3.53,3.81,4.01,4.89,3.69,3.70,4.05,4.38,4.48,4.04

### Потерянные клиенты

In [442]:
df.head(1)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,month,year
0,КАМ 001 (Шулагин),УТ-00012216,спец. кальянный магазин,Hookah Market (Категорийный менеджер),"111024, г. Москва, ул. Авиамоторная, д. 73А...",2022-08-10,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),100.0,150,15.0,565.0,84750.0,66,8,2022

In [443]:
lost_clients = df.pivot_table(
    values='ВЕС',
    columns = ['year', 'month'],
    index = ['Сегмент','Код клиента'],
    aggfunc=lambda x: 1 if sum(x) > 0 else 0,
    fill_value=0
).reset_index()

In [444]:
lost_clients.rename(columns={1:"янв"}, inplace=True)
lost_clients.rename(columns={2:"фев"}, inplace=True)
lost_clients.rename(columns={3:"мар"}, inplace=True)
lost_clients.rename(columns={4:"апр"}, inplace=True)
lost_clients.rename(columns={5:"май"}, inplace=True)
lost_clients.rename(columns={6:"июн"}, inplace=True)
lost_clients.rename(columns={7:"июл"}, inplace=True)
lost_clients.rename(columns={8:"авг"}, inplace=True)
lost_clients.rename(columns={9:"сен"}, inplace=True)
lost_clients.rename(columns={10:"окт"}, inplace=True)
lost_clients.rename(columns={11:"ноя"}, inplace=True)
lost_clients.rename(columns={12:"дек"}, inplace=True)

In [445]:
lost_clients.columns = [f'{i}{"-"}{j}' for i, j in lost_clients.columns]

In [446]:
b = [i for i in range(2, lost_clients.shape[1])]

In [447]:
b

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [448]:
lost_clients

,Сегмент-,Код клиента-,2022-янв,2022-фев,2022-мар,2022-апр,2022-май,2022-июн,2022-июл,2022-авг,2022-сен,2022-окт,2022-ноя,2022-дек,2023-янв,2023-фев,2023-мар,2023-апр,2023-май,2023-июн
0,vape shop,00-00000784,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,vape shop,00-00008581,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,0,0,1
2,vape shop,УТ-00011272,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0
3,vape shop,УТ-00011327,0,0,0,0,0,0,1,0,0,1,0,1,0,0,0,0,0,0
4,vape shop,УТ-00011684,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7524,табаконист,ут-ут000614,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7525,табаконист,ут-ут000615,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7526,табаконист,ут-ут000619,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7527,табаконист,ут-ут000623,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
7528,табаконист,ут-ут000649,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [449]:
for i in b:

        if i == 2 or i == 3 or i == 4: 
            lost_clients[lost_clients.columns[i] + '-2'] = 0
            continue

        lost_clients[lost_clients.columns[i] + '-2'] = lost_clients.iloc[:,i-3:i+1].sum(axis=1)

lost_clients.drop(lost_clients.columns[b[0]:b[-1]+1], axis= 1, inplace=True)

lost_clients.columns = lost_clients.columns.str.replace('-2', '',regex=True)

In [450]:
lost_clients.head(2)

,Сегмент-,Код клиента-,2022-янв,2022-фев,2022-мар,2022-апр,2022-май,2022-июн,2022-июл,2022-авг,2022-сен,2022-окт,2022-ноя,2022-дек,2023-янв,2023-фев,2023-мар,2023-апр,2023-май,2023-июн
0,vape shop,00-00000784,0,0,0,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0
1,vape shop,00-00008581,0,0,0,0,0,0,1,2,2,2,2,1,1,1,1,1,1,2

In [451]:
for i in lost_clients.iloc[:,5:].columns:

    lost_clients[i] = np.where(lost_clients[i] > 0, 0, 1)

In [452]:
lost_clients.to_excel(r"C:\Users\User\Desktop\lost_clients_new.xlsx")

In [453]:
lost_clients_temp = pd.melt(
    lost_clients,
    id_vars=['Сегмент-', 'Код клиента-'],
    value_vars=lost_clients.iloc[:,2:].columns.values
)

In [454]:
lost_clients_temp = lost_clients_temp.groupby(by=['Сегмент-', 'variable'])['value'].sum().reset_index()

In [455]:
lost_clients_temp = lost_clients_temp.pivot_table(
    values = 'value',
    index = 'Сегмент-',
    columns = 'variable'
).reset_index()

### Сохранение в таблицу

In [456]:
with pd.ExcelWriter(r"C:\Users\User\Desktop\Business_review.xlsx") as writer: 
    general_weight.to_excel(writer, sheet_name='Общие продажи (кг)', index=False) 
    general_proportion.to_excel(writer, sheet_name='Общие продажи (%)', index=False)
    akb.to_excel(writer, sheet_name='АКБ', index=False)
    sr_check.to_excel(writer, sheet_name='Средний чек', index=False)
    lost_clients_temp.to_excel(writer, sheet_name='Потерянные клиенты', index=False)