In [3]:
import pandas as pd
from fuzzywuzzy import process

In [6]:
df = pd.DataFrame({'Names': ['John Smith', 'Jane Doe', 'Bob Johnson']})

def match_names(name, choices):
    return process.extractOne(name, choices)

df['Match'] = df['Names'].apply(lambda x: match_names(x, ['ob', 'doe', 'hnson']))
print(df)

         Names        Match
0   John Smith  (hnson, 54)
1     Jane Doe    (doe, 90)
2  Bob Johnson     (ob, 90)

In [5]:
df

         Names               Match
0   John Smith   (John Smith, 100)
1     Jane Doe    (Jane Smith, 64)
2  Bob Johnson  (Bob Johnson, 100)

In [12]:
# создаем фрейм данных с правильными названиями
correct_names = pd.DataFrame({'name': ['Apple', 'Banana', 'Orange']})

# создаем фрейм данных с некорректными названиями
incorrect_names = pd.DataFrame({'name': ['Aplle', 'Banena', 'Orng', "фвфыв"]})

# создаем пустой список для сохранения найденных правильных названий
matched_names = []

# для каждого некорректного названия ищем наилучшее совпадение среди правильных названий
for name in incorrect_names['name']:
    matched_name, score, _ = process.extractOne(name, correct_names['name'])
    # если найдено совпадение с более чем 80% совпадения, то считаем его корректным
    if score >= 80:
        matched_names.append(matched_name)
    else:
        matched_names.append(None)

# добавляем столбец с найденными правильными названиями в фрейм данных с некорректными названиями
incorrect_names['matched_name'] = matched_names

In [13]:
incorrect_names

     name matched_name
0   Aplle        Apple
1  Banena       Banana
2    Orng       Orange
3   фвфыв         None