In [1]:
import pandas as pd

from datetime import datetime

import xlrd
import os
import glob

In [2]:
path = 'D:\Analysis Burn\МО\исходники'

In [5]:
xl_files = glob.glob(os.path.join(path, "*.xlsb"))

In [6]:
li2 = []

for f2 in xl_files:
      
    # read the csv file
    df2 = pd.read_excel(f2)
    
    li2.append(df2)  
    
    
    # print the location and filename
    # print('Location:', f)
    # print('File Name:', f.split("\\")[-1])
      
    # print the content
    # print('Content:')
    # display(df)
    # print()

frame2 = pd.concat(li2, axis=0, ignore_index=True)

In [7]:
frame2.head(2)

,месяц,регион,бренд,тип продукции,название,инн продавца,адрес магазина,вес упаковки,продажи
0,2023-01-01,Москва,OVERDOSE,Кальян,Overdose Peach Iced Tea (Персиковый чай) 25гр.,7715441408,"г Москва, ул Краснобогатырская, д 2 стр 2",25,9
1,2023-01-01,Московская область,OVERDOSE,Кальян,Overdose Peach Iced Tea (Персиковый чай) 25гр.,520601360011,"Московская обл, г Королёв, ул Пионерская, д 3,...",25,3

In [9]:
frame2['месяц'] = pd.to_datetime(frame2['месяц'])

In [11]:
frame2['месяц'].replace('1970-01-01T00:00:00.000045047', '2023-05-01T00:00:00.000000000',inplace=True)
frame2['месяц'].replace('1970-01-01T00:00:00.000045078', '2023-06-01T00:00:00.000000000',inplace=True)

In [12]:
frame2['месяц'].unique()

array(['2023-01-01T00:00:00.000000000', '2023-02-01T00:00:00.000000000',
       '2023-03-01T00:00:00.000000000', '2023-04-01T00:00:00.000000000',
       '2023-05-01T00:00:00.000000000', '2023-06-01T00:00:00.000000000',
       '2022-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [13]:
frame2.to_csv(r"D:\Analysis Burn\МО\MO_full_source_csv.csv")

In [19]:
pd.Series(frame2['бренд'].unique()).sort_values().to_excel(r"C:\Users\User\Desktop\Брнды.xlsx")

In [30]:
shot = frame2.loc[(frame2['бренд'] == 'DARKSIDE') & (frame2['название'].str.contains('.*шот.*',regex=True,case=False))]

In [37]:
pd.Series(shot['название'].unique()).to_excel(r"C:\Users\User\Desktop\Вкусы_шот.xlsx")

In [25]:
frame2.head(2)

,месяц,регион,бренд,тип продукции,название,инн продавца,адрес магазина,вес упаковки,продажи
0,2023-01-01,Москва,OVERDOSE,Кальян,Overdose Peach Iced Tea (Персиковый чай) 25гр.,7715441408,"г Москва, ул Краснобогатырская, д 2 стр 2",25,9
1,2023-01-01,Московская область,OVERDOSE,Кальян,Overdose Peach Iced Tea (Персиковый чай) 25гр.,520601360011,"Московская обл, г Королёв, ул Пионерская, д 3,...",25,3

In [38]:
shot_taste = pd.read_excel(r"C:\Users\User\Desktop\Вкусы_шот.xlsx")

In [39]:
shot_taste.head(2)

                            это заменить               на это заменить
0   "Дарк Сайд" Кор (Самбука Шот), 100 г  "Дарксайд" Кор (Самбука Шот)
1   "Дарк Сайд" Кор (Самбука Шот), 100 г  "Дарксайд" Кор (Самбука Шот)

In [43]:
shot = shot.merge(
    shot_taste,
    how="left",
    left_on="название",
    right_on='это заменить'
)

In [48]:
shot.columns

Index(['месяц', 'регион', 'бренд', 'тип продукции', 'название', 'инн продавца',
       'адрес магазина', 'вес упаковки', 'продажи', 'это заменить', 'Вкус'],
      dtype='object')

In [47]:
shot.rename(
    columns={'на это заменить':'Вкус'},
    inplace=True
)

In [51]:
shot = shot[['месяц', 'регион', 'бренд', 'тип продукции', 'инн продавца',
       'адрес магазина', 'вес упаковки', 'продажи', 'Вкус']]

In [54]:
shot.head(2)

,месяц,регион,бренд,тип продукции,инн продавца,адрес магазина,вес упаковки,продажи,Вкус
0,2023-01-01,Москва,DARKSIDE,Кальян,772088999553,"г Москва, пр-кт Ленинградский, д 74А стр 1",100,1,"""Дарксайд"" Кор (Самбука Шот)"
1,2023-01-01,Москва,DARKSIDE,Кальян,771873615145,"г Москва, ул Люблинская, д 169 к 2",100,1,"""Дарксайд"" Кор (Самбука Шот)"

In [56]:
shot['вес'] = (shot['вес упаковки'].astype(int) * shot['продажи'].astype(int))/1000

In [57]:
shot.head(2)

,месяц,регион,бренд,тип продукции,инн продавца,адрес магазина,вес упаковки,продажи,Вкус,вес
0,2023-01-01,Москва,DARKSIDE,Кальян,772088999553,"г Москва, пр-кт Ленинградский, д 74А стр 1",100,1,"""Дарксайд"" Кор (Самбука Шот)",0.1
1,2023-01-01,Москва,DARKSIDE,Кальян,771873615145,"г Москва, ул Люблинская, д 169 к 2",100,1,"""Дарксайд"" Кор (Самбука Шот)",0.1

In [66]:
shot.groupby(
    'Вкус'
)['вес'].sum().reset_index().sort_values(by='вес',ascending=False).to_excel(r"C:\Users\User\Desktop\shot_taste_with_weight.xlsx", index=False)