In [1]:
import pandas as pd

In [137]:
df = pd.read_excel(r"D:\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Москва OSHISHA\Sell_out_Москва_OSHISHA.xlsx")

In [138]:
df.to_csv(r"D:\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Москва OSHISHA\Sell_out_Москва_OSHISHA.csv")

In [139]:
# добавить год  и месяци
df['Дата отгрузки'] = pd.to_datetime(df['Дата отгрузки'], dayfirst=True)

df['year'] = df['Дата отгрузки'].dt.year
df['month'] = df['Дата отгрузки'].dt.month

In [140]:
# оставить только москву
df = df.loc[
    (df['Торговый представитель'] != 'REG MAN 001 (Такаев: ЮФО, СНГ)' ) & 
    (df['Торговый представитель'] != 'REG MAN 005 (Цыганков: ДВФО, ПФО)') &
    (df['Торговый представитель'] != 'REG MAN 004 (Кособокова: ЦФО, СЗФО)') &
    (df['Торговый представитель'] != 'REG MAN 006 (Олейник: УрФО, СФО)') &
    (df['Торговый представитель'] != 'Дудырев Владимир') & 
    (df['Торговый представитель'] != 'Гильманов Тимур') &
    (df['Торговый представитель'] != 'Гусенцов Александр') &
    (df['Торговый представитель'] != 'Telesales 002 (Юшкин)') &
    (df['Торговый представитель'] != 'Telesales 001 (Маслов)') &
    (df['Торговый представитель'] != 'Садыков Александр') &
    (df['Торговый представитель'] != 'INC MAN 002 (Маслов)') &
    (df['Торговый представитель'] != 'INC MAN 004 (Юшкин)') &
    (df['Торговый представитель'] != 'REG MAN 007 (Меркурьев)') &
    (df['Торговый представитель'] != 'Telesales 003 (Творогов)') &
    (df['Торговый представитель'] != 'Фаткин Ким') &
    (df['Торговый представитель'] != 'Лубинец Дмитрий' ) &
    (df['Торговый представитель'] != 'Абильфазов Азим' ) &
    (df['Торговый представитель'] != 'Асланян Ашхен' ) &
    (df['Торговый представитель'] != 'Баранов Алексей' ) & 
    (df['Торговый представитель'] != 'Сафронов Николай') 
]

In [141]:
df = df.loc[
    (df['Сегмент'] == 'Кальянная') |
    (df['Сегмент'] == 'HoReCa') |
    (df['Сегмент'] == 'Бар/Ночной клуб') |
    (df['Сегмент'] == 'Кафе/Ресторан') |
    (df['Сегмент'] == 'кальянная') |
    (df['Сегмент'] == 'horeca')
]

In [142]:
pt = df.pivot_table(
    index=['Бренд','Вкус','Код клиента'],
    columns=['year', 'month'],
    values='ВЕС',
    aggfunc=lambda x: 1 if sum(x) > 0 else 0
).reset_index()

In [143]:
# преобразование multi-index в обычный
pt.columns = ['_'.join(map(str, col)).rstrip('_') for col in pt.columns.values]

In [149]:
test = pt.loc[pt['Бренд'] == 'BlackBurn']

In [150]:
test.to_excel(r"C:\Users\User\Desktop\test_BB.xlsx")

In [127]:
pt.head(2)

,Бренд,Вкус,Код клиента,2022_1,2022_2,2022_3,2022_4,2022_5,2022_6,2022_7,2022_8,2022_9,2022_10,2022_11,2022_12,2023_1,2023_2,2023_3,2023_4,2023_5
0,B3,Ambrosia (Амброзия),00-00000140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
1,B3,Ambrosia (Амброзия),00-00001755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN

In [144]:
pt['Общая сумма'] = pt.iloc[:, 3:].sum(axis=1)

In [148]:
pt

,Бренд,Вкус,Код клиента,2022_1,2022_2,2022_3,2022_4,2022_5,2022_6,2022_7,...,2022_9,2022_10,2022_11,2022_12,2023_1,2023_2,2023_3,2023_4,2023_5,Общая сумма
0,B3,Ambrosia (Амброзия),00-00000140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,1.0
1,B3,Ambrosia (Амброзия),00-00001755,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
2,B3,Ambrosia (Амброзия),00-00008418,NaN,NaN,NaN,1.0,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
3,B3,Ambrosia (Амброзия),00-00009376,NaN,NaN,1.0,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0
4,B3,Ambrosia (Амброзия),00-00009704,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45370,PeterRalf,Tropical Exotic (Тропический микс с преоблада...,УТ-00017452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,1.0
45371,PeterRalf,Tropical Exotic (Тропический микс с преоблада...,УТ-00017892,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,1.0
45372,PeterRalf,Tropical Exotic (Тропический микс с преоблада...,УТ-00019849,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0
45373,PeterRalf,Tropical Exotic (Тропический микс с преоблада...,УТ-00019870,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,1.0
45374,PeterRalf,Tropical Exotic (Тропический микс с преоблада...,УТ-00020156,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [152]:
pt2 = pt.groupby(
    by=['Бренд', 'Вкус']
)['Общая сумма'].mean().reset_index()

In [147]:
pt2.to_excel(r"C:\Users\User\Desktop\pt2.xlsx")