In [2]:
import pandas as pd

In [98]:
df = pd.read_excel(r"D:\Analysis Burn\Роман Краснодар\Пенетрация.xlsx")

In [4]:
df.drop(columns='Unnamed: 2', inplace=True)

In [5]:
df.head(2)

,Клиент,Адрес доставки,Бренд,Группа,Номенклатура,Сегмент,Дата документа.Месяц,Менеджер,Вес,Количество (в единицах хранения)
0,"Мята лаунж Гимназическая, 55/1","Краснодар, ул. Гимназическая, 55/1",Black burn,100гр,Ananas Shock - кислый ананас100гр,Кальянная,6,Сметанин Дмитрий,0.1,1
1,"Мята лаунж Гимназическая, 55/1","Краснодар, ул. Гимназическая, 55/1",Black burn,200гр,Chupa Graper - Виноградная газировка (COLLAB К...,Кальянная,6,Сметанин Дмитрий,0.2,1

In [28]:
a = df.pivot_table(
    values=['Клиент'],
    index=['Бренд'],
    columns=['Дата документа.Месяц'],
    aggfunc='nunique'
)

In [29]:
df.head(2)

,Клиент,Адрес доставки,Unnamed: 2,Бренд,Группа,Номенклатура,Сегмент,Дата документа.Месяц,Менеджер,Вес,Количество (в единицах хранения)
0,"Мята лаунж Гимназическая, 55/1","Краснодар, ул. Гимназическая, 55/1",NaN,Black burn,100гр,Ananas Shock - кислый ананас100гр,Кальянная,6,Сметанин Дмитрий,0.1,1
1,"Мята лаунж Гимназическая, 55/1","Краснодар, ул. Гимназическая, 55/1",NaN,Black burn,200гр,Chupa Graper - Виноградная газировка (COLLAB К...,Кальянная,6,Сметанин Дмитрий,0.2,1

In [30]:
b = df.pivot_table(
    
    columns=['Дата документа.Месяц'],
    values=['Клиент'],
    aggfunc='nunique'
)

In [31]:
a

                     Клиент
Дата документа.Месяц      6    7
Бренд
B3                       12   19
Banger                   55   62
Black burn              134  136
Burn                      5    6
Overdose                 90   96
Peter Ralf                2    5

In [32]:
b

Дата документа.Месяц    6    7
Клиент                136  137

In [33]:
a['Всего в 6'] = b[6][0]
a['Всего в 7'] = b[7][0]

In [34]:
a

                     Клиент      Всего в 6 Всего в 7
Дата документа.Месяц      6    7
Бренд
B3                       12   19       136       137
Banger                   55   62       136       137
Black burn              134  136       136       137
Burn                      5    6       136       137
Overdose                 90   96       136       137
Peter Ralf                2    5       136       137

In [35]:
a.columns = [''.join(str(col)).strip() for col in a.columns.values]

In [41]:
a ['Не купили в 6'] = a['(\'Всего в 6\', \'\')'] - a['(\'Клиент\', 6)']

In [44]:
a ['Не купили в 7'] = a['(\'Всего в 7\', \'\')'] - a['(\'Клиент\', 7)']

In [47]:
a.to_excel(r"D:\Analysis Burn\Роман Краснодар\По брендам.xlsx")

### Пенетрация по вкусам

In [99]:
addr = pd.read_excel(r"D:\Analysis Burn\Продукция Burn.xlsx" ,sheet_name='варианты вкусов')

In [78]:
addr

,Исходный вкус,Код,Вкус
0,(М) ТАБАК ДЛЯ КАЛЬЯНА BLACKBURN 200 ГР AFTER 8...,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)
1,(М) ТАБАК ДЛЯ КАЛЬЯНА BLACKBURN 25 ГР AFTER 8 ...,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)
2,(ЧЗ) AFTER 8 - ШВЕЙЦАРСКИЕ ШОКОЛАДНО-МЯТНЫЕ КО...,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)
3,(ЧЗ) AFTER 8 - ШВЕЙЦАРСКИЕ ШОКОЛАДНО-МЯТНЫХ КО...,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)
4,AFTER 8,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)
...,...,...,...
21567,BURNBLISS - ЛИЧИ С МЯТОЙ*100ГР,189,Bliss (Личи С Мятой)
21568,BURNBLUEBERRY MINT - СВЕЖИЙ ЧЕРНИЧНЫЙ ВКУС С М...,190,Blueberry Mint (Свежий Черничный Вкус С Мятой)
21569,BURNMIAMI KISS - СПЕЛЫЙ АРБУЗ С ЦИТРУСАМИ И ЛА...,208,Miami Kiss (Спелый Арбуз С Цитрусами И Лакрицей)
21570,"OVERDOSEOVERDOSE BAILEYS (СЛИВОЧНЫЙ ЛИКЁР), 25...",241,Baileys (Сливочный ликер)
21571,OVERDOSEOVERDOSE STRAWBERRY BASIL (КЛУБНИКА-БА...,240,Strawberry Basil (Клубника-базилик)

In [106]:
df['Бренд'].unique()

array(['BLACKBURN', 'BANGER', 'OVERDOSE', 'PETERRALF', 'B3', 'BURN'],
      dtype=object)

In [101]:
df.loc[df['Бренд'] == 'Black burn', 'Бренд'] = 'Blackburn'
df.loc[df['Бренд'] == 'Peter Ralf', 'Бренд'] = 'Peterralf'

df['Бренд'] = df['Бренд'].str.upper()

In [104]:
df['Номенклатура'] = df['Номенклатура'].str.upper()

In [105]:
# df['Группа'].unique()
df = df.loc[ (df['Группа'] != 'Уголь') &  (df['Группа'] != 'Мундштуки')]

In [107]:
df['БРЕНД+ВКУС'] = df['Бренд']+df['Номенклатура']

In [108]:
addr.head(2)

,Исходный вкус,Код,Вкус
0,(М) ТАБАК ДЛЯ КАЛЬЯНА BLACKBURN 200 ГР AFTER 8...,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)
1,(М) ТАБАК ДЛЯ КАЛЬЯНА BLACKBURN 25 ГР AFTER 8 ...,185,After 8 (Швейцарские Шоколадно-Мятных Конфеты)

In [109]:
true_del = df.merge(
    addr,
    how='left',
    left_on=['БРЕНД+ВКУС'],
    right_on=['Исходный вкус']
)

In [76]:
true_del.loc[true_del['Вкус'].isna()].to_excel(r"C:\Users\alewk\OneDrive\Desktop\taste.xlsx")

In [112]:
true_del.head(2)

,Клиент,Адрес доставки,Unnamed: 2,Бренд,Группа,Номенклатура,Сегмент,Дата документа.Месяц,Менеджер,Вес,Количество (в единицах хранения),БРЕНД+ВКУС,Исходный вкус,Код,Вкус
0,"Мята лаунж Гимназическая, 55/1","Краснодар, ул. Гимназическая, 55/1",NaN,BLACKBURN,100гр,ANANAS SHOCK - КИСЛЫЙ АНАНАС100ГР,Кальянная,6,Сметанин Дмитрий,0.1,1,BLACKBURNANANAS SHOCK - КИСЛЫЙ АНАНАС100ГР,BLACKBURNANANAS SHOCK - КИСЛЫЙ АНАНАС100ГР,31,Ananas Shock (Кислый Ананас)
1,"Мята лаунж Гимназическая, 55/1","Краснодар, ул. Гимназическая, 55/1",NaN,BLACKBURN,200гр,CHUPA GRAPER - ВИНОГРАДНАЯ ГАЗИРОВКА (COLLAB К...,Кальянная,6,Сметанин Дмитрий,0.2,1,BLACKBURNCHUPA GRAPER - ВИНОГРАДНАЯ ГАЗИРОВКА ...,BLACKBURNCHUPA GRAPER - ВИНОГРАДНАЯ ГАЗИРОВКА ...,43,Chupa Graper (Виноградная Газировка) (Collab К...

In [114]:
true_del = true_del.pivot_table(
    values=['Клиент'],
    index=['Бренд', 'Вкус'],
    columns=['Дата документа.Месяц'],
    aggfunc='nunique'
)

In [115]:
true_del['Всего в 6'] = b[6][0]
true_del['Всего в 7'] = b[7][0]

In [117]:
true_del.to_excel(r"D:\Analysis Burn\Роман Краснодар\По брендам и вкусам.xlsx")