In [216]:
import pandas as pd

In [217]:
df = pd.read_excel(r"D:\Analysis Burn\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Москва OSHISHA\Sell_out_Москва_OSHISHA.xlsx")

In [218]:
df.head(2)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор
0,не указано,00-00008600,Не указано,Фаткин Ким Родиевич,Москва г,2023-01-02,BlackBurn,BlackBurn 200 гр,Strawberry Coconut (Клубника с кокосом и эвкал...,200.0,1,0.2,1050.0,1050.0,66
1,PRE МОПТ MSK,00-00009007,МОПТ,Али Севастопольская 1006 Б,"Россия, 117303, Москва г, ул Большая Юшуньская...",2023-01-04,BlackBurn,BlackBurn 200 гр,SouSep (Зелёный лимонад),200.0,10,2.0,1120.0,11200.0,66

In [219]:
df['Дата отгрузки'] = pd.to_datetime(df['Дата отгрузки'], dayfirst=True)

In [220]:
df['year'] = df['Дата отгрузки'].dt.year

In [221]:
df.dtypes

Торговый представитель            object
Код клиента                       object
Сегмент                           object
Клиент                            object
Адрес доставки                    object
Дата отгрузки             datetime64[ns]
Бренд                             object
Группа                            object
Вкус                              object
Граммовка                        float64
Количество шт                      int64
ВЕС                              float64
Цена                             float64
стоимость                        float64
Дистрибьютор                       int64
year                               int64
dtype: object

In [11]:
df = df.loc[(df['Бренд'] != 'BlackBurn') & (df['Бренд'] != 'Overdose')]

In [ ]:
pivot_table = df.pivot_table(values='Вес (нетто), кг',
                             index=['Клиент', 'Бренд', 'Вкус'],
                             columns='Месяц название',
                             aggfunc=lambda x: 1 if sum(x) > 0 else 0,
                             fill_value=0).reset_index()

In [227]:
df.head(2)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,year
0,не указано,00-00008600,Не указано,Фаткин Ким Родиевич,Москва г,2023-01-02,BlackBurn,BlackBurn 200 гр,Strawberry Coconut (Клубника с кокосом и эвкал...,200.0,1,0.2,1050.0,1050.0,66,2023
1,PRE МОПТ MSK,00-00009007,МОПТ,Али Севастопольская 1006 Б,"Россия, 117303, Москва г, ул Большая Юшуньская...",2023-01-04,BlackBurn,BlackBurn 200 гр,SouSep (Зелёный лимонад),200.0,10,2.0,1120.0,11200.0,66,2023

In [228]:
# оставить только москву
df = df.loc[
    (df['Торговый представитель'] != 'REG MAN 001 (Такаев: ЮФО, СНГ)' ) & 
    (df['Торговый представитель'] != 'REG MAN 005 (Цыганков: ДВФО, ПФО)') &
    (df['Торговый представитель'] != 'REG MAN 004 (Кособокова: ЦФО, СЗФО)') &
    (df['Торговый представитель'] != 'REG MAN 006 (Олейник: УрФО, СФО)') &
    (df['Торговый представитель'] != 'Дудырев Владимир') & 
    (df['Торговый представитель'] != 'Гильманов Тимур') &
    (df['Торговый представитель'] != 'Гусенцов Александр') &
    (df['Торговый представитель'] != 'Telesales 002 (Юшкин)') &
    (df['Торговый представитель'] != 'Telesales 001 (Маслов)') &
    (df['Торговый представитель'] != 'Садыков Александр') &
    (df['Торговый представитель'] != 'INC MAN 002 (Маслов)') &
    (df['Торговый представитель'] != 'INC MAN 004 (Юшкин)') &
    (df['Торговый представитель'] != 'REG MAN 007 (Меркурьев)') &
    (df['Торговый представитель'] != 'Telesales 003 (Творогов)') &
    (df['Торговый представитель'] != 'Фаткин Ким') &
    (df['Торговый представитель'] != 'Лубинец Дмитрий' ) &
    (df['Торговый представитель'] != 'Абильфазов Азим' ) &
    (df['Торговый представитель'] != 'Асланян Ашхен' ) &
    (df['Торговый представитель'] != 'Баранов Алексей' ) & 
    (df['Торговый представитель'] != 'Сафронов Николай') 
]

In [230]:
df['Торговый представитель'].unique()

array(['не указано', 'PRE МОПТ MSK', 'PRE MO NARO-FOMINSK 001',
       'PRE MSK 002', 'PRE MSK 024', 'PRE MO ELEKTROSTAL 001',
       'PRE MSK 001', 'PRE MSK 003', 'PRE MSK 009', 'PRE MSK 015',
       'PRE MSK 018', 'PRE MSK 005', 'PRE MSK 007', 'PRE MSK 016',
       'PRE MSK 021', 'PRE MSK 023', 'PRE MSK 025', 'PRE MSK 006',
       'PRE MSK 014', 'KAM 001 (Шулагин)', 'PRE MSK 008', 'PRE MSK 010',
       'PRE MSK 022', 'PRE MSK 026', 'PRE MO POSAD 001', 'PRE MSK 011',
       'PRE MSK 017 (MO)', 'PRE MSK 027', 'PRE MSK 012', 'PRE MSK 019',
       'PRE MSK 020', 'PRE MO KOLOMNA 001', 'PRE MO SERPUHOV 001',
       'PRE MSK 004', 'PRE MSK 013', 'PRE MSK HoReCa', 'PRE MSK 008 (MO)',
       'PRE MSK 018 (MO)', 'PRE MSK 017', 'PRE MO ZELENOGRAD 001',
       'Team assistant 002 (Козлов)', 'SV MO (Гусев)', 'не указан',
       'КАМ 001 (Шулагин)', '29.05.2023', 'PRE MSK 021 (MO)',
       'PRE MSK 019 (MO)', 'PRE MSK 009 (ОБ)', 'PRE MSK 007 (ОБ)',
       'PRE MSK 015 (ОБ)', 'PRE MSK 017 (ОБ)', 'PRE MSK 016 (ОБ)',
       'PRE MSK 008 (ОБ)', 'PRE MSK SMTP 01', 'PRE MSK SMTP 001',
       'MSK EAST (Новиков)', 'KAM 001 (Кашарный)', 'PRE MO SERPUHOV'],
      dtype=object)

In [231]:
df.head(1)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,year
0,не указано,00-00008600,Не указано,Фаткин Ким Родиевич,Москва г,2023-01-02,BlackBurn,BlackBurn 200 гр,Strawberry Coconut (Клубника с кокосом и эвкал...,200.0,1,0.2,1050.0,1050.0,66,2023

In [232]:
filtered = df.loc[
    (df['Вкус'] == 'Mirinda (Мандариновая газировка)') |
    (df['Вкус'] == 'Muesli (Фруктовые мюсли)') |
    (df['Вкус'] == 'Fruittella (Фруктовая конфета)') |
    (df['Вкус'] == 'Guajava (Экзотическая гуава)') |
    (df['Вкус'] == 'Jelly Grape (Виноградный джем)') |
    (df['Вкус'] == 'Epic Yogurt (Черничный йогурт)') |
    (df['Вкус'] == 'Watermelon (Сладкий арбуз)') |
    (df['Вкус'] == 'Lemon Tonic (Лимонный Тоник)') |
    (df['Вкус'] == 'Kashmir Citrus (Кашмир цитрус)') |
    (df['Вкус'] == 'Sweet Rose (Ягоды с розой)') |
    (df['Вкус'] == 'Green Day (Яблоко, киви, кислинка)') |
    (df['Вкус'] == 'Mikado (Ананас)') |
    (df['Вкус'] == 'Basilic (Базилик)') |
    (df['Вкус'] == 'Ёlka (Ёлка)') |
    (df['Вкус'] == 'Brumblebee (Клубника, ежевика, голубика)') |
    (df['Вкус'] == 'Fantola (Тропическая газировка)') |
    (df['Вкус'] == 'Frustyle (Кактус-лайм)') |
    (df['Вкус'] == 'Grapefruit (Грейпфрут)') |
    (df['Вкус'] == 'Saint-Tropez (Земляника со сливками)') |
    (df['Вкус'] == 'На расслабоне (Банановое суфле)') |
    (df['Вкус'] == 'На чиле (Тропический сок)')
]

In [233]:
filtered['Вкус'].unique()

array(['Mirinda (Мандариновая газировка)', 'Muesli (Фруктовые мюсли)',
       'Fruittella (Фруктовая конфета)', 'Guajava (Экзотическая гуава)',
       'Jelly Grape (Виноградный джем)', 'Epic Yogurt (Черничный йогурт)',
       'Watermelon (Сладкий арбуз)', 'Lemon Tonic (Лимонный Тоник)',
       'Kashmir Citrus (Кашмир цитрус)', 'Sweet Rose (Ягоды с розой)',
       'Basilic (Базилик)', 'Ёlka (Ёлка)',
       'Green Day (Яблоко, киви, кислинка)', 'Mikado (Ананас)',
       'Brumblebee (Клубника, ежевика, голубика)',
       'Fantola (Тропическая газировка)', 'Frustyle (Кактус-лайм)',
       'Grapefruit (Грейпфрут)', 'Saint-Tropez (Земляника со сливками)'],
      dtype=object)

In [234]:
filtered.head(2)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор,year
61,PRE MSK 002,УТ-00015744,HoReCa,Eshak (Арбат),"РОССИЯ, 119019, Москва г, вн.тер.г. муниципаль...",2023-01-04,BlackBurn,BlackBurn 200 гр,Mirinda (Мандариновая газировка),200.0,2,0.4,1200.0,2400.0,66,2023
134,PRE MO NARO-FOMINSK 001,УТ-00015530,Спец. кальянный магазин,S2b (Обнинск),"249031, Калужская обл, г.Обнинск, ул. Курчатов...",2023-01-04,BlackBurn,BlackBurn 100 гр,Mirinda (Мандариновая газировка),100.0,2,0.2,605.0,1210.0,66,2023

In [213]:
filtered.to_excel(r"C:\Users\alewk\OneDrive\Desktop\New Microsoft Excel Worksheet_2.xlsx")

In [235]:
daily_data = filtered.pivot_table(
    index=['Вкус', 'Дата отгрузки', 'Код клиента']
    , aggfunc='size'
).reset_index()

In [236]:
daily_data.head(2)

                Вкус Дата отгрузки  Код клиента  0
0  Basilic (Базилик)    2023-04-08  00-00006983  1
1  Basilic (Базилик)    2023-04-08  УТ-00014225  1

In [237]:
daily_data2 = daily_data.pivot_table(
    index=['Вкус', 'Код клиента'],
    columns='Дата отгрузки',
    values='Код клиента',
    aggfunc=lambda x: 1 if sum(x) > 0 else 0
).reset_index()

In [238]:
daily_data2.head(2)

Дата отгрузки,Вкус,Код клиента,2022-12-07 00:00:00,2022-12-08 00:00:00,2022-12-09 00:00:00,2022-12-10 00:00:00,2022-12-12 00:00:00,2022-12-13 00:00:00,2022-12-14 00:00:00,2022-12-15 00:00:00,...,2023-05-20 00:00:00,2023-05-22 00:00:00,2023-05-23 00:00:00,2023-05-24 00:00:00,2023-05-25 00:00:00,2023-05-26 00:00:00,2023-05-27 00:00:00,2023-05-29 00:00:00,2023-05-30 00:00:00,2023-05-31 00:00:00
0,Basilic (Базилик),00-00000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Basilic (Базилик),00-00000054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [239]:
daily_data2.columns = daily_data2.columns.astype(str)

In [240]:
col_size = daily_data2.columns.size

In [241]:
row_size = len(daily_data2)-1

In [243]:
import numpy as np
# Определяем функцию для фильтрации значений
def filter_values(value):
    if value == 1:
        return value
    else:
        return np.nan

daily_data2.iloc[:, 2:] = daily_data2.iloc[:, 1:].applymap(filter_values)

In [244]:
daily_data2.columns = daily_data2.columns.str.strip()

In [246]:
daily_data2

Дата отгрузки,Вкус,Код клиента,2022-12-07 00:00:00,2022-12-08 00:00:00,2022-12-09 00:00:00,2022-12-10 00:00:00,2022-12-12 00:00:00,2022-12-13 00:00:00,2022-12-14 00:00:00,2022-12-15 00:00:00,...,2023-05-20 00:00:00,2023-05-22 00:00:00,2023-05-23 00:00:00,2023-05-24 00:00:00,2023-05-25 00:00:00,2023-05-26 00:00:00,2023-05-27 00:00:00,2023-05-29 00:00:00,2023-05-30 00:00:00,2023-05-31 00:00:00
0,Basilic (Базилик),00-00000004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Basilic (Базилик),00-00000054,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Basilic (Базилик),00-00000124,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Basilic (Базилик),00-00000140,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Basilic (Базилик),00-00000149,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15515,Ёlka (Ёлка),УТ-УТ000222,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
15516,Ёlka (Ёлка),УТ-УТ000224,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
15517,Ёlka (Ёлка),УТ-УТ000225,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
15518,Ёlka (Ёлка),УТ-УТ000250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
15519,Ёlka (Ёлка),УТ-УТ000276,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [203]:
melted_data = pd.melt(daily_data2, id_vars=['Вкус', 'Код клиента'], var_name='День', value_name='Покупка')

In [209]:
grouped_data = melted_data.groupby(['Вкус', 'День'])['Покупка'].sum().reset_index()

In [211]:
grouped_data.to_excel(r"C:\Users\alewk\OneDrive\Desktop\New Microsoft Excel Worksheet.xlsx")

In [212]:
grouped_data

                   Вкус        День  Покупка
0     Basilic (Базилик)  2022-12-07      0.0
1     Basilic (Базилик)  2022-12-08      0.0
2     Basilic (Базилик)  2022-12-09      0.0
3     Basilic (Базилик)  2022-12-10      0.0
4     Basilic (Базилик)  2022-12-12      0.0
...                 ...         ...      ...
2807        Ёlka (Ёлка)  2023-05-26    841.0
2808        Ёlka (Ёлка)  2023-05-27    847.0
2809        Ёlka (Ёлка)  2023-05-29    846.0
2810        Ёlka (Ёлка)  2023-05-30    846.0
2811        Ёlka (Ёлка)  2023-05-31    844.0

[2812 rows x 3 columns]

In [200]:
daily_data3 = daily_data2.groupby(
    by='Вкус'
)['Код клиента'].agg('count')

In [201]:
daily_data3

Вкус
Basilic (Базилик)                           1060
Brumblebee (Клубника, ежевика, голубика)     839
Epic Yogurt (Черничный йогурт)              1478
Fantola (Тропическая газировка)              826
Fruittella (Фруктовая конфета)              1214
Frustyle (Кактус-лайм)                       868
Grapefruit (Грейпфрут)                       157
Green Day (Яблоко, киви, кислинка)           509
Guajava (Экзотическая гуава)                 886
Jelly Grape (Виноградный джем)              1089
Kashmir Citrus (Кашмир цитрус)               746
Lemon Tonic (Лимонный Тоник)                 512
Mikado (Ананас)                              482
Mirinda (Мандариновая газировка)            2090
Muesli (Фруктовые мюсли)                    1697
Saint-Tropez (Земляника со сливками)         168
Sweet Rose (Ягоды с розой)                   738
Watermelon (Сладкий арбуз)                  1628
Ёlka (Ёлка)                                 1198
Name: Код клиента, dtype: int64

In [215]:
daily_data2.iloc[:, 2:3]

Дата отгрузки  2022-12-07
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN
...                   ...
18180                 NaN
18181                 NaN
18182                 NaN
18183                 NaN
18184                 NaN

[18185 rows x 1 columns]

In [166]:
i = 2
iterator = 3

while iterator <= col_size:
    name = daily_data2.columns[i]
    daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
    i += 1
    iterator += 1

# Создаем копию DataFrame для снижения фрагментации памяти
daily_data2 = daily_data2.copy()

C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)
C:\Users\alewk\AppData\Local\Temp\ipykernel_31664\2017729374.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  daily_data2[name.replace('00:00:00',"")] = daily_data2.iloc[:, 2:iterator].sum(axis=1)

In [174]:
daily_data2 = daily_data2.drop(daily_data2.columns[2:col_size], axis=1)

In [ ]:
pivot_table = filtered.pivot_table(values='Вес (нетто), кг',
                             index=['Код','Клиент', 'СегментПартнера', 'year', 'month'],
                             columns=['Бренд'],
                             aggfunc=lambda x: 1 if sum(x) > 0 else 0,
                             fill_value=0).reset_index()

In [61]:
pivot_table = df.pivot_table(values='Вес (нетто), кг',
                             index=['Код','Клиент', 'СегментПартнера', 'year', 'month'],
                             columns=['Бренд'],
                             aggfunc=lambda x: 1 if sum(x) > 0 else 0,
                             fill_value=0).reset_index()

In [66]:
pivot_table.head(2)

Бренд,Код,Клиент,СегментПартнера,year,month,BlackBurn,Overdose,Общая сумма
10,00-00000004,МЯТА (Ленинская слобода 26/2),кальянная,2022,10,1,1,2
17,00-00000004,МЯТА (Ленинская слобода 26/2),кальянная,2023,5,1,1,2

In [63]:
pivot_table['Общая сумма'] = pivot_table.iloc[:, -2:].sum(axis=1)

In [65]:
pivot_table = pivot_table.loc[pivot_table['Общая сумма'] == 2]

In [51]:
pivot_table.to_excel(r"C:\Users\User\Desktop\PT.xlsx")

In [67]:
pivot_table.to_excel(r"C:\Users\User\Desktop\PT.xlsx")

In [42]:
pivot_table2 = pivot_table.pivot_table(values='Клиент',
                             index=['СегментПартнера'],
                             columns=['year', 'month'],
                             aggfunc={"Клиент": "nunique"}).reset_index()

In [43]:
pivot_table2

year           СегментПартнера   2022                                     \
month                               7      8      9     10     11     12
0                       horeca   19.0   30.0   23.0   40.0   33.0   41.0
1                    vape shop    5.0    9.0    8.0   10.0    4.0    3.0
2              бар/ночной клуб    NaN    NaN    NaN    NaN    2.0    3.0
3                    кальянная  162.0  215.0  255.0  256.0  222.0  269.0
4                 личные нужды    NaN    NaN    NaN    NaN    5.0    3.0
5                         мопт   12.0   21.0   18.0   16.0    9.0   12.0
6                   не указано   32.0   44.0   38.0   45.0   65.0   88.0
7                          опт    1.0    NaN    1.0    1.0    1.0    1.0
8               пивной магазин    1.0    6.0    2.0    8.0    3.0    1.0
9          продуктовый магазин    NaN    NaN    NaN    1.0    1.0    NaN
10                      прочее    NaN    5.0    5.0    3.0    NaN    NaN
11     спец. кальянный магазин  139.0  131.0  162.0  180.0  151.0  163.0
12                  табаконист  182.0  305.0  291.0  339.0  284.0  288.0

year    2023
month      1      2      3      4      5
0       28.0   30.0   37.0   37.0   50.0
1        2.0    5.0   12.0   11.0   13.0
2        1.0    3.0    2.0    4.0    3.0
3      248.0  257.0  262.0  289.0  363.0
4        4.0    1.0    3.0    2.0    2.0
5       17.0   20.0   18.0   13.0   22.0
6       40.0   59.0   50.0   76.0   80.0
7        2.0    1.0    2.0    1.0    2.0
8        NaN    8.0    3.0    5.0    2.0
9        NaN    NaN    1.0    1.0    1.0
10       NaN    NaN    NaN    NaN    NaN
11     131.0  151.0  136.0  185.0  175.0
12     229.0  288.0  314.0  348.0  369.0

In [38]:
pivot_table

Бренд,Клиент,СегментПартнера,year,month,BlackBurn,Overdose,Общая сумма
0,Black Market (Комсомольский),табаконист,2022,11,1,1,2
1,Black Market (Комсомольский),табаконист,2022,12,1,1,2
2,Coco Lounge (Просторная ),кальянная,2022,11,1,1,2
4,Coco Lounge (Просторная ),кальянная,2023,2,1,1,2
12,Табак (Максимова.З.Е),табаконист,2022,11,1,1,2
...,...,...,...,...,...,...,...
24975,михаил голдобин,не указано,2023,3,1,1,2
24976,мукатдисов айрат,не указано,2023,5,1,1,2
24980,петр данилов,не указано,2022,12,1,1,2
25001,татьяна яценко,не указано,2022,7,1,1,2
25002,харитонова,не указано,2023,2,1,1,2

In [20]:
df.head(2)

,Unnamed: 0.1,Unnamed: 0,Основной менеджер,Родитель,Бизнес-регион,Группа клиентов (Клиенты),Клиент,Код,Адрес доставки,Заказ клиента / Реализация.Дата отгрузки,...,Выручка,Граммовка,цена,Бренд,Группа,Вкус,month,СегментПартнера+Код,Класс,year
0,0,0,КАМ 001 (Шулагин),МОСКВА,Москва,29.05.2023,Hookah Market (Категорийный менеджер),УТ-00012216,"111024, г. Москва, ул. Авиамоторная, д. 73А...",2022-08-10,...,84750.0,100.0,565.0,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),8,спец. кальянный магазинУТ-00012216,A,2022
1,1,1,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",2022-08-13,...,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,8,опт00-00009764,A,2022

In [35]:
df = pd.read_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv")

In [44]:
df.head(2)

,Unnamed: 0.1,Unnamed: 0,Основной менеджер,Родитель,Бизнес-регион,Группа клиентов (Клиенты),Клиент,Код,Адрес доставки,Заказ клиента / Реализация.Дата отгрузки,...,"Вес (нетто), кг",Выручка,Граммовка,цена,Бренд,Группа,Вкус,month,СегментПартнера+Код,Класс
0,0,0,КАМ 001 (Шулагин),МОСКВА,Москва,29.05.2023,Hookah Market (Категорийный менеджер),УТ-00012216,"111024, г. Москва, ул. Авиамоторная, д. 73А...",10.08.2022,...,15.0,84750.0,100.0,565.0,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),8,спец. кальянный магазинУТ-00012216,A
1,1,1,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",13.08.2022,...,12.0,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,8,опт00-00009764,A

In [38]:
df_copy = df.copy(deep=True)

In [40]:
df_copy['abc'] = df_copy.groupby('Вкус')['Вес (нетто), кг'].cumsum()

In [50]:
pt = df_copy.pivot_table(
    values='Код',
    index='Вкус',
    columns='Заказ клиента / Реализация.Дата отгрузки',
    aggfunc='count'
)

C:\Users\User\AppData\Local\Temp\ipykernel_5588\2776103656.py:1: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pt = df_copy.pivot_table(

In [48]:
pt.head()

Заказ клиента / Реализация.Дата отгрузки,01.02.2022,01.02.2023,01.03.2022,01.03.2023,01.04.2022,01.04.2023,01.05.2022,01.05.2023,01.06.2022,01.07.2022,...,30.12.2022,31.01.2022,31.01.2023,31.03.2022,31.03.2023,31.05.2022,31.05.2023,31.08.2022,31.10.2022,31.12.2022
Вкус,,,,,,,,,,,,,,,,,,,,,
After 8 (Швейцарские шоколадно-мятных конфеты),5.0,5.0,5.0,6.0,7.0,5.0,NaN,1.0,7.0,3.0,...,11.0,3.0,19.0,5.0,8.0,8.0,11.0,14.0,10.0,NaN
Almond Icecream (Миндальное мороженое),6.0,4.0,3.0,5.0,6.0,2.0,NaN,1.0,6.0,6.0,...,9.0,4.0,22.0,9.0,10.0,12.0,14.0,15.0,11.0,NaN
Ambrosia (Амброзия),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,1.0,2.0,1.0,1.0,NaN,2.0,NaN,NaN
Ananas Shock (Кислый ананас),21.0,37.0,28.0,36.0,32.0,27.0,1.0,26.0,34.0,30.0,...,56.0,6.0,93.0,15.0,45.0,22.0,82.0,59.0,41.0,NaN
Another Pineapple (Другой ананас),NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1.0,2.0,1.0,1.0,NaN,2.0,NaN,NaN

In [49]:
pt.cumsum(axis=1)

Заказ клиента / Реализация.Дата отгрузки,01.02.2022,01.02.2023,01.03.2022,01.03.2023,01.04.2022,01.04.2023,01.05.2022,01.05.2023,01.06.2022,01.07.2022,...,30.12.2022,31.01.2022,31.01.2023,31.03.2022,31.03.2023,31.05.2022,31.05.2023,31.08.2022,31.10.2022,31.12.2022
Вкус,,,,,,,,,,,,,,,,,,,,,
After 8 (Швейцарские шоколадно-мятных конфеты),5.0,10.0,15.0,21.0,28.0,33.0,NaN,34.0,41.0,44.0,...,3196.0,3199.0,3218.0,3223.0,3231.0,3239.0,3250.0,3264.0,3274.0,NaN
Almond Icecream (Миндальное мороженое),6.0,10.0,13.0,18.0,24.0,26.0,NaN,27.0,33.0,39.0,...,3542.0,3546.0,3568.0,3577.0,3587.0,3599.0,3613.0,3628.0,3639.0,NaN
Ambrosia (Амброзия),NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,207.0,209.0,210.0,211.0,NaN,213.0,NaN,NaN
Ananas Shock (Кислый ананас),21.0,58.0,86.0,122.0,154.0,181.0,182.0,208.0,242.0,272.0,...,17075.0,17081.0,17174.0,17189.0,17234.0,17256.0,17338.0,17397.0,17438.0,NaN
Another Pineapple (Другой ананас),NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,198.0,200.0,201.0,202.0,NaN,204.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Wildberry Crush (Ягодный пунш),3.0,6.0,9.0,13.0,19.0,23.0,NaN,24.0,33.0,35.0,...,2691.0,2694.0,2704.0,2718.0,2727.0,2731.0,2737.0,2745.0,2752.0,2753.0
Wineberry (Ягоды и виноград),NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,186.0,187.0,NaN,NaN,189.0,NaN,NaN
Yummy Gum (Жвачка арбуз-клубника),4.0,15.0,23.0,24.0,31.0,NaN,NaN,NaN,44.0,47.0,...,3933.0,3935.0,3953.0,3956.0,3957.0,3966.0,3975.0,3989.0,4002.0,NaN
Ёlka,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ёlka (Ёлка),NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,953.0,NaN,NaN,NaN

In [45]:
df_copy.head()

,Unnamed: 0.1,Unnamed: 0,Основной менеджер,Родитель,Бизнес-регион,Группа клиентов (Клиенты),Клиент,Код,Адрес доставки,Заказ клиента / Реализация.Дата отгрузки,...,"Вес (нетто), кг",Выручка,Граммовка,цена,Бренд,Группа,Вкус,month,Класс,abc
0,0,0,КАМ 001 (Шулагин),МОСКВА,Москва,29.05.2023,Hookah Market (Категорийный менеджер),УТ-00012216,"111024, г. Москва, ул. Авиамоторная, д. 73А...",10.08.2022,...,15.0,84750.0,100.0,565.0,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),8,A,15.0
1,1,1,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",13.08.2022,...,12.0,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,8,A,12.0
2,2,2,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",13.08.2022,...,12.0,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,Lemon Shock (Кислый лимон),8,A,12.0
3,3,3,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",26.08.2022,...,12.0,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,Lemon Shock (Кислый лимон),8,A,24.0
4,4,4,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",09.08.2022,...,10.0,59600.0,25.0,149.0,BlackBurn,BlackBurn 25 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,8,A,22.0