### Нужно найти название компаний и добавить их в адреса и посмотреть эффект

In [1]:
import pandas as pd

In [2]:
addr = pd.read_excel(r"D:\Analysis Burn\Википедия\Справочники\addresses.xlsx")

In [3]:
burn = pd.read_csv(r"D:\Analysis Burn\Википедия\БЁРН исходники\burn_tobacco.csv")

In [4]:
dsmh = pd.read_csv(r"D:\Analysis Burn\Википедия\СВМХ исходники\dsmh.csv", dtype={'инн': 'Int64'})

In [8]:
burn.head(1)

,Дата операции,ИНН производителя,Наименование производителя,ИНН участника,Наименование участника,Код субъекта РФ,Субъект РФ,Адрес,GTIN,ТН ВЭД,Наименование товара,Объем товара (пачек),МРЦ
0,2022-10-12,5047205725,"ООО ""БЁРН""",861602195158,ИП Мыкалов Владимир Николаевич,74.0,Челябинская область,"г Челябинск, ул Труда, д 187, кв 1",4650259250815,2403110000,Табак для кальяна BlackBurn Siberian Soda (Лим...,120,0

In [9]:
dsmh.head(1)

,мес,рег,бренд,продукт,инн,адрес,вес,колво
0,2022-08-01,Москва,DARKSIDE,"Дарксайд Кор (Блюберрибласт), 100 г",<NA>,"Москва, б-р Осенний, д 10 к 1",100,2

In [5]:
dsmh_copy = dsmh[['адрес', 'инн']]

In [9]:
dsmh_copy.head(2)

                                   адрес   инн
0          Москва, б-р Осенний, д 10 к 1  <NA>
1  Екатеринбург, пр-кт Космонавтов, д 27  <NA>

In [6]:
burn_copy = burn[['Адрес', 'ИНН участника']]

In [7]:
burn_copy.rename(
    columns={'Адрес':'адрес', 'ИНН участника':'инн'},
    inplace=True
)

C:\Users\User\AppData\Local\Temp\ipykernel_25008\2739308867.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  burn_copy.rename(

In [10]:
dsmh_copy.head(2)

                                   адрес   инн
0          Москва, б-р Осенний, д 10 к 1  <NA>
1  Екатеринбург, пр-кт Космонавтов, д 27  <NA>

In [11]:
burn_copy.head(2)

                                адрес           инн
0  г Челябинск, ул Труда, д 187, кв 1  861602195158
1      г Барнаул, ул Бабуркина, д 11А  220400152969

In [12]:
full_addr = pd.concat([dsmh_copy, burn_copy])

In [13]:
full_addr.drop_duplicates(inplace=True)

In [18]:
full_addr = full_addr.loc[full_addr['адрес'].isna() == False]

In [21]:
full_addr

                                                     адрес           инн
0                            Москва, б-р Осенний, д 10 к 1          <NA>
1                    Екатеринбург, пр-кт Космонавтов, д 27          <NA>
2               Краснодар, ул Восточно-Кругликовская, д 55          <NA>
3                             Ижевск, ул Пушкинская, д 247          <NA>
4                       Калининград, ул Аэропортная, зд 12          <NA>
...                                                    ...           ...
4385594                     г Липецк, ул Им. Баумана, д 92  366112996669
4390643   Московская обл, г Реутов, ул Дзержинского, д 11В  615500066940
4408229  г Санкт-Петербург, ул Разъезжая, д 8 литера а,...    4703160541
4438528                    г Томск, тракт Иркутский, д 85А    7017474428
4444439  г Санкт-Петербург, пр-кт Невский, д 87/2 литер...  701708640344

[69792 rows x 2 columns]

In [84]:
kb = pd.read_excel(r"D:\Analysis Burn\Википедия\Справочники\Адреса КБ\Адреса КБ.xlsx")

In [25]:
full_addr

                                                     адрес           инн
0                            Москва, б-р Осенний, д 10 к 1          <NA>
1                    Екатеринбург, пр-кт Космонавтов, д 27          <NA>
2               Краснодар, ул Восточно-Кругликовская, д 55          <NA>
3                             Ижевск, ул Пушкинская, д 247          <NA>
4                       Калининград, ул Аэропортная, зд 12          <NA>
...                                                    ...           ...
4385594                     г Липецк, ул Им. Баумана, д 92  366112996669
4390643   Московская обл, г Реутов, ул Дзержинского, д 11В  615500066940
4408229  г Санкт-Петербург, ул Разъезжая, д 8 литера а,...    4703160541
4438528                    г Томск, тракт Иркутский, д 85А    7017474428
4444439  г Санкт-Петербург, пр-кт Невский, д 87/2 литер...  701708640344

[69792 rows x 2 columns]

In [56]:
add_and_inn = full_addr.groupby(
    ['адрес']
)['инн'].count().sort_values(ascending=False).reset_index()

In [57]:
add_and_inn = add_and_inn.loc[add_and_inn['инн'] == 1]

In [61]:
add_and_inn = add_and_inn.merge(
    full_addr,
    how='left',
    on = 'адрес'
)

In [66]:
add_and_inn = add_and_inn.loc[add_and_inn['инн_y'].isna() == False]

In [73]:
kb.loc[kb['инн_y'].isna()]

,shopsData/id,shopsData/num,shopsData/shopNum,Адрес_яндекс,shopsData/address,shopsData/addressAlt,shopsData/cityId,shopsData/balloonContent,shopsData/draftBeer,shopsData/time,...,Широта,Долгота,Внутри кольцевой?,Расстояние от кольцевой,Точность координат,Подходит для рассылки?,Код проверки,Нераспознанная часть,адрес,инн_y
5,2541049,12748,12748,"Россия, Астраханская область, Икрянинский райо...","ул.50 лет Октября, 1","50 лет Октября, 1",2780,NaN,False,пн-вс 9:00 - 22:05,...,46.202745,47.860924,NaN,NaN,Точные,Да,Корректный,NaN,NaN,<NA>
6,2478988,10660,10660,"Россия, Астраханская область, Камызяк, улица Т...","ул. Тараканова, 16","Тараканова, 16",2761,NaN,False,пн-вс 9:00 - 22:05,...,46.115004,48.069918,NaN,NaN,Улица,Под вопросом: нет квартиры,Корректный,NaN,NaN,<NA>
7,2392250,11071,11071,"Россия, Астраханская область, посёлок Володарс...","ул. Дорожная, 2 г","Дорожная, 2 г",2741,NaN,False,пн-вс 9:00 - 22:05,...,46.408659,48.540061,NaN,NaN,Точные,Да,Корректный,NaN,NaN,<NA>
9,2206189,10190,10190,"Россия, Астраханская область, село Красный Яр,...","ул. Советская, 65","Советская, 65",2398,NaN,False,пн-вс 9:00 - 22:05,...,46.535128,48.342600,NaN,NaN,Улица,Да,Корректный,NaN,NaN,<NA>
10,2672878,12986,12986,"Россия, Астрахань, Боевая улица, 126к10","ул.Боевая,126, к.10","Боевая,126, к.10",2225,NaN,False,пн-вс 9:00 - 22:05,...,46.318188,48.022471,NaN,NaN,Ближайший дом,Под вопросом: нет квартиры,Корректный,NaN,NaN,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14487,2106764,9963,9963,"Россия, Свердловская область, Каменский городс...","ул. Ленина, 117","Ленина, 117",2638,NaN,False,пн-вс 9:00 - 22:05,...,56.469563,61.615615,NaN,NaN,Точные,Да,Корректный,NaN,NaN,<NA>
14497,2098977,9977,9977,"Россия, Санкт-Петербург, проспект Энгельса, 51","пр-т Энгельса, 51а","пр-т Энгельса, 51а",2054,NaN,False,пн-вс 9:00 - 22:05,...,60.014844,30.323608,Внутри КАД,NaN,Точные,Под вопросом: дома нет в ФИАС,Корректный,NaN,NaN,<NA>
14500,2161746,9981,9981,"Россия, Челябинск, улица Захаренко, 4","ул. Захаренко, 4","Захаренко, 4",1433,NaN,False,пн-вс 9:00 - 22:05,...,55.199103,61.313944,NaN,NaN,Точные,Под вопросом: нет квартиры,Корректный,NaN,NaN,<NA>
14501,2074223,9982,9982,"Россия, Санкт-Петербург, Ковалёвская улица, 26","ул. Ковалевская, 26","Ковалевская, 26",2054,NaN,False,пн-вс 9:00 - 22:05,...,59.979375,30.512563,Внутри КАД,NaN,Точные,Под вопросом: дома нет в ФИАС,Корректный,NaN,NaN,<NA>
14503,2158653,9987,9987,"Россия, Краснодарский край, Новороссийск, улиц...","ул. Серова, 17","Серова, 17",2234,NaN,False,пн-вс 9:00 - 22:05,...,44.706110,37.777143,NaN,NaN,Улица,Под вопросом: нет квартиры,Корректный,NaN,NaN,<NA>

In [76]:
addresses = pd.read_excel(r"D:\Analysis Burn\Википедия\Справочники\addresses.xlsx", sheet_name='Основная')

In [79]:
addresses = addresses[['Исходный адрес', 'Адрес']]

In [69]:
kb = kb.merge(add_and_inn[['адрес', 'инн_y']], 
    how='left',
    left_on=['Адрес_корректный'],
    right_on=['адрес']
)

In [93]:
kb = kb.merge(
    addresses,
    how='left',
    left_on='Адрес_корректный',
    right_on='Адрес'
)

In [114]:
kb_copy = kb.merge(add_and_inn[['адрес', 'инн_y']], 
    how='left',
    left_on=['Исходный адрес'],
    right_on=['адрес']
)

In [101]:
kb.head(1)

,shopsData/id,shopsData/num,shopsData/shopNum,Адрес_яндекс,shopsData/address,shopsData/addressAlt,shopsData/cityId,shopsData/balloonContent,shopsData/draftBeer,shopsData/time,...,Широта,Долгота,Внутри кольцевой?,Расстояние от кольцевой,Точность координат,Подходит для рассылки?,Код проверки,Нераспознанная часть,Исходный адрес,Адрес
0,2358823,10584,10584,"Россия, Архангельск, Воскресенская улица, 85","ул. Воскресенская, 85","Воскресенская, 85",2388,NaN,False,пн-вс 9:00 - 22:05,...,64.544516,40.543152,NaN,NaN,Точные,Под вопросом: нет квартиры,Корректный,NaN,"Архангельск, ул Воскресенская, д 85","г Архангельск, ул Воскресенская, д 85"

In [129]:
kb_copy.loc[kb_copy['инн_y'].isna() == False]['инн_y'].drop_duplicates().reset_index().drop(columns='index').to_excel(r"D:\Analysis Burn\Википедия\kb_inn.xlsx")