- В папку для обработки положить файлы которые надо обработать
- Проверяет на наличие найденных совпадений в справочниках
- Проверять чтобы было соответствие колонок у всех файлов

In [30]:
import pandas as pd
import os
import glob
import numpy as np
from datetime import datetime

In [53]:
path2 = r"D:\Analysis Burn\OSH\Для обработки"
xl_files = glob.glob(os.path.join(path2, "*.xlsx"))

In [54]:
# frame2.to_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv", index=False)

In [55]:
li2 = []

for f2 in xl_files:
      
    # read the csv file
    df2 = pd.read_excel(f2)
    df2 = df2.drop(df2.index[-1])
    
    li2.append(df2)  
    
    
    # print the location and filename
    # print('Location:', f)
    # print('File Name:', f.split("\\")[-1])
      
    # print the content
    # print('Content:')
    # display(df)
    # print()

frame2 = pd.concat(li2, axis=0, ignore_index=True)

In [3]:
# frame2 = pd.read_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv")

In [56]:
frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69367 entries, 0 to 69366
Data columns (total 16 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Основной менеджер                          69262 non-null  object
 1   Родитель                                   68011 non-null  object
 2   Бизнес-регион                              68011 non-null  object
 3   Группа клиентов (Клиенты)                  25052 non-null  object
 4   Клиент                                     69367 non-null  object
 5   Код                                        69367 non-null  object
 6   Адрес доставки                             69367 non-null  object
 7   Заказ клиента / Реализация.Дата отгрузки   68790 non-null  object
 8   Бренд (Справочник "Номенклатура" (Общие))  69367 non-null  object
 9   Группа                                     69367 non-null  object
 10  Номенклатура                               69367 non-null  object
 11  Группа.1                                   69367 non-null  object
 12  СегментПартнера                            69367 non-null  object
 13  Количество                                 69367 non-null  int64
 14  Вес (нетто), кг                            69367 non-null  float64
 15  Выручка                                    69367 non-null  float64
dtypes: float64(2), int64(1), object(13)
memory usage: 8.5+ MB

In [57]:
frame2['Основной менеджер'].unique()

array(['KAM 001 (Шулагин)', 'PRE МОПТ MSK', 'PRE MSK 005', 'PRE MSK 010',
       'REG MAN 001 (Такаев: ЮФО, СНГ)', 'PRE MSK 011', 'PRE MSK 026',
       'REG MAN 007 (Меркурьев)', 'PRE MSK 001', 'PRE MSK 004',
       'PRE MSK 007', 'PRE MSK 022', 'PRE MSK 015',
       'REG MAN 005 (Цыганков: ДВФО, ПФО)', 'PRE MSK 024',
       'PRE MO ZELENOGRAD 001', 'PRE MSK 002', 'PRE MSK 021',
       'PRE MSK 003', nan, 'PRE MSK 017', 'PRE MSK 025', 'PRE MSK 016',
       'PRE MSK 006', 'PRE MSK 009', 'PRE MSK 013', 'PRE MSK 023',
       'Telesales 002 (Юшкин)', 'PRE MO ELEKTROSTAL 001',
       'PRE MSK 018 (MO)', 'Telesales 001 (Маслов)', 'PRE MO KOLOMNA 001',
       'PRE MSK 008 (MO)', 'PRE MSK 014', 'PRE MSK 020', 'PRE MSK 027',
       'Telesales 003 (Творогов)', 'PRE MO NARO-FOMINSK 001',
       'PRE MO SERPUHOV 001', 'PRE MSK 012', 'PRE MO POSAD 001',
       'PRE MSK 019', 'Абильфазов Азим', 'Дудырев Владимир', 'Фаткин Ким',
       'Асланян Ашхен', 'Баранов Алексей', 'Сафронов Николай'],
      dtype=object)

In [58]:
frame2['СегментПартнера'] = frame2['СегментПартнера'].fillna("Не указано")

In [59]:
frame2['СегментПартнера'] = frame2['СегментПартнера'].str.replace('Кафе/Ресторан', 'HoReCa', regex=False)

In [60]:
# frame2['Основной менеджер'] = frame2['Основной менеджер'].str.replace(' (МО)', '', regex=False)

In [61]:
frame2['Граммовка'] = ( frame2['Вес (нетто), кг'] / frame2['Количество'] )* 1000

In [62]:
frame2['цена'] = frame2['Выручка'] / frame2['Количество']

In [63]:
frame2['Бренд (Справочник "Номенклатура" (Общие))'] =  frame2['Бренд (Справочник "Номенклатура" (Общие))'].str.upper()

frame2['Номенклатура'] =  frame2['Номенклатура'].str.upper()

frame2['Группа'] =  frame2['Группа'].str.upper()

In [64]:
frame2['Бренд (Справочник "Номенклатура" (Общие))'] =  frame2['Бренд (Справочник "Номенклатура" (Общие))'].str.strip()

frame2['Номенклатура'] =  frame2['Номенклатура'].str.strip()

frame2['Группа'] =  frame2['Группа'].str.strip()

In [65]:
brands_dim = pd.read_excel(r"D:\Analysis Burn\Продукция Burn.xlsx", sheet_name = "варианты брендов")
groups_dim = pd.read_excel(r"D:\Analysis Burn\Продукция Burn.xlsx", sheet_name = "варианты групп")
delicious_dim = pd.read_excel(r"D:\Analysis Burn\Продукция Burn.xlsx", sheet_name = "варианты вкусов")

In [66]:
frame2 = frame2.merge(
    brands_dim,
    how = 'left',
    left_on='Группа', 
    right_on='Бренд (исходный)',
    suffixes=('_left', '_right'),
)

In [67]:
frame2['Бренд'].isna().unique()

array([False])

In [68]:
frame2['Бренд+Вкус'] = frame2['Бренд'].str.upper() + frame2['Номенклатура']

In [69]:
frame2 = frame2.merge(
    groups_dim,
    how = 'left',
    left_on='Группа', 
    right_on='Исходная группа',
    suffixes=('_left', '_right'),
)

In [70]:
frame2['Группа_right'].isna().unique()

array([False])

In [71]:
frame2 = frame2.merge(
    delicious_dim,
    how = 'left',
    left_on='Бренд+Вкус', 
    right_on='Исходный вкус',
    suffixes=('_left', '_right')
)

In [72]:
frame2['Вкус'].isna().unique()

array([False])

In [50]:
# a = frame2.loc[frame2['Вкус'].isna()]

In [52]:
# a['Бренд+Вкус'].unique()

array(['BANGERBANGER GRAPEFRUIT 100ГР МРК',
       'BANGERBANGER SAINT-TROPEZ 100ГР МРК',
       'BLACKBURNBURN BLACK ICEBERG 25ГР МРК',
       'BANGERBANGER GRAPEFRUIT 25ГР МРК',
       'BANGERBANGER SAINT-TROPEZ 25ГР МРК',
       'BANGERBANGER LEMON TONIC 100ГР МРК'], dtype=object)

In [73]:
frame2 = frame2.drop(
    columns = {
        'Группа.1', 'Бренд (Справочник "Номенклатура" (Общие))', 'Номенклатура', 'Бренд (исходный)', 'Бренд+Вкус',
        'Группа_left', 'Исходная группа', 'Brand', 'Граммовка_right', 'Исходный вкус', 'Код_right', 
    }
)

In [74]:
frame2 = frame2.rename(
    columns={
      'Код_left': "Код",
       'Граммовка_left': "Граммовка",
        "Группа_right": "Группа"
        
    }
)

In [121]:
# frame.to_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv", index=False)

In [120]:
# frame = frame.fillna('29.05.2023')

In [119]:
frame['Заказ клиента / Реализация.Дата отгрузки'].unique()

array(['10.08.2022', '13.08.2022', '26.08.2022', '09.08.2022',
       '31.08.2022', '02.08.2022', '05.08.2022', '17.08.2022',
       '03.08.2022', '04.08.2022', '27.08.2022', '23.08.2022',
       '11.08.2022', '12.08.2022', '24.08.2022', '20.08.2022',
       '01.08.2022', '08.08.2022', '29.08.2022', '30.08.2022',
       '22.08.2022', '06.08.2022', '18.08.2022', '19.08.2022',
       '25.08.2022', '16.08.2022', '15.08.2022', '27.04.2022',
       '26.04.2022', '13.04.2022', '06.04.2022', '21.04.2022',
       '29.04.2022', '12.04.2022', '28.04.2022', '01.05.2022',
       '25.04.2022', '01.04.2022', '16.04.2022', '07.04.2022',
       '20.04.2022', '19.04.2022', '04.04.2022', '22.04.2022',
       '11.04.2022', '30.04.2022', '18.04.2022', '02.04.2022',
       '23.04.2022', '14.04.2022', '09.04.2022', '08.04.2022',
       '05.04.2022', '15.04.2022', '10.12.2022', '09.12.2022',
       '21.12.2022', '29.12.2022', '08.12.2022', '24.12.2022',
       '30.12.2022', '15.12.2022', '22.12.2022', '28.12.2022',
       '23.12.2022', '13.12.2022', '03.12.2022', '06.12.2022',
       '17.12.2022', '05.12.2022', '14.12.2022', '26.12.2022',
       '27.12.2022', '20.12.2022', '12.12.2022', '02.12.2022',
       '07.12.2022', '01.12.2022', '19.12.2022', '16.12.2022',
       '31.12.2022', '30.07.2022', '29.07.2022', '22.07.2022',
       '15.07.2022', '28.07.2022', '08.07.2022', '20.07.2022',
       '06.07.2022', '21.07.2022', '12.07.2022', '26.07.2022',
       '18.07.2022', '16.07.2022', '05.07.2022', '01.07.2022',
       '27.07.2022', '02.07.2022', '13.07.2022', '09.07.2022',
       '14.07.2022', '07.07.2022', '19.07.2022', '25.07.2022',
       '11.07.2022', '04.07.2022', '23.07.2022', '24.07.2022',
       '29.06.2022', '30.06.2022', '18.06.2022', '25.06.2022',
       '07.06.2022', '24.06.2022', '01.06.2022', '21.06.2022',
       '03.06.2022', '27.06.2022', '16.06.2022', '11.06.2022',
       '08.06.2022', '02.06.2022', '28.06.2022', '22.06.2022',
       '10.06.2022', '20.06.2022', '04.06.2022', '09.06.2022',
       '14.06.2022', '17.06.2022', '06.06.2022', '23.06.2022',
       '15.06.2022', '13.06.2022', '30.05.2022', '20.05.2022',
       '23.05.2022', '26.05.2022', '17.05.2022', '07.05.2022',
       '27.05.2022', '12.05.2022', '13.05.2022', '04.05.2022',
       '25.05.2022', '16.05.2022', '19.05.2022', '05.05.2022',
       '31.05.2022', '02.05.2022', '09.05.2022', '18.05.2022',
       '28.05.2022', '24.05.2022', '21.05.2022', '06.05.2022',
       '11.05.2022', '14.05.2022', '03.05.2022', '10.05.2022',
       '28.03.2022', '05.03.2022', '10.03.2022', '18.03.2022',
       '11.03.2022', '15.03.2022', '21.03.2022', '09.03.2022',
       '03.03.2022', '02.03.2022', '29.03.2022', '24.03.2022',
       '23.03.2022', '17.03.2022', '12.03.2022', '04.03.2022',
       '26.03.2022', '16.03.2022', '01.03.2022', '30.03.2022',
       '19.03.2022', '25.03.2022', '31.03.2022', '14.03.2022',
       '07.03.2022', '22.03.2022', '08.03.2022', '27.03.2022',
       '19.10.2022', '22.10.2022', '25.10.2022', '07.10.2022',
       '18.10.2022', '27.10.2022', '24.10.2022', '11.10.2022',
       '26.10.2022', '05.10.2022', '04.10.2022', '28.10.2022',
       '08.10.2022', '29.10.2022', '12.10.2022', '10.10.2022',
       '20.10.2022', '21.10.2022', '17.10.2022', '14.10.2022',
       '15.10.2022', '31.10.2022', '06.10.2022', '13.10.2022',
       '03.10.2022', '01.10.2022', '21.09.2022', '15.09.2022',
       '22.09.2022', '07.09.2022', '30.09.2022', '12.09.2022',
       '27.09.2022', '16.09.2022', '13.09.2022', '14.09.2022',
       '29.09.2022', '02.09.2022', '05.09.2022', '23.09.2022',
       '24.09.2022', '28.09.2022', '17.09.2022', '08.09.2022',
       '26.09.2022', '06.09.2022', '10.09.2022', '01.09.2022',
       '09.09.2022', '20.09.2022', '03.09.2022', '19.09.2022',
       '09.02.2022', '16.02.2022', '18.02.2022', '15.02.2022',
       '02.02.2022', '25.02.2022', '23.02.2022', '19.02.2022',
       '12.02.2022', '17.02.2022', '26.02.2022', '11.02.2022',
       '22.02.2022', '24.02.2022', '03.02.2022', '14.02.2022',
       '28.02.2022', '10.02.2022', '01.02.2022', '08.02.2022',
       '07.02.2022', '05.02.2022', '04.02.2022', '21.02.2022',
       '25.01.2022', '27.01.2022', '21.01.2022', '12.01.2022',
       '14.01.2022', '19.01.2022', '22.01.2022', '26.01.2022',
       '20.01.2022', '28.01.2022', '29.01.2022', '06.01.2022',
       '13.01.2022', '24.01.2022', '11.01.2022', '10.01.2022',
       '18.01.2022', '17.01.2022', '15.01.2022', '31.01.2022',
       '05.01.2022', '16.11.2022', '29.11.2022', '03.11.2022',
       '10.11.2022', '30.11.2022', '18.11.2022', '19.11.2022',
       '24.11.2022', '23.11.2022', '22.11.2022', '08.11.2022',
       '11.11.2022', '17.11.2022', '25.11.2022', '01.11.2022',
       '04.11.2022', '21.11.2022', '28.11.2022', '09.11.2022',
       '07.11.2022', '02.11.2022', '15.11.2022', '26.11.2022',
       '14.11.2022', '05.11.2022', '12.11.2022', '12.04.2023',
       '18.04.2023', '06.04.2023', '25.04.2023', '14.04.2023',
       '21.04.2023', '22.04.2023', '05.04.2023', '28.04.2023',
       '07.04.2023', '13.04.2023', '24.04.2023', '29.04.2023',
       '10.04.2023', '20.04.2023', '27.04.2023', '11.04.2023',
       '19.04.2023', '26.04.2023', '03.04.2023', '17.04.2023',
       '15.04.2023', '04.04.2023', '08.04.2023', '01.04.2023',
       '29.03.2023', '22.03.2023', '14.03.2023', '11.03.2023',
       '28.03.2023', '31.03.2023', '17.03.2023', '03.03.2023',
       '21.03.2023', '09.03.2023', '25.03.2023', '20.03.2023',
       '01.03.2023', '15.03.2023', '06.03.2023', '18.03.2023',
       '30.03.2023', '13.03.2023', '07.03.2023', '23.03.2023',
       '10.03.2023', '27.03.2023', '04.03.2023', '16.03.2023',
       '24.03.2023', '02.03.2023', '08.03.2023', '23.02.2023',
       '14.02.2023', '21.02.2023', '17.02.2023', '04.02.2023',
       '20.02.2023', '28.02.2023', '22.02.2023', '10.02.2023',
       '02.02.2023', '16.02.2023', '15.02.2023', '27.02.2023',
       '18.02.2023', '07.02.2023', '09.02.2023', '25.02.2023',
       '06.02.2023', '08.02.2023', '24.02.2023', '01.02.2023',
       '11.02.2023', '03.02.2023', '13.02.2023', '12.02.2023',
       '28.01.2023', '24.01.2023', '11.01.2023', '31.01.2023',
       '27.01.2023', '17.01.2023', '18.01.2023', '30.01.2023',
       '23.01.2023', '19.01.2023', '06.01.2023', '20.01.2023',
       '16.01.2023', '10.01.2023', '04.01.2023', '14.01.2023',
       '09.01.2023', '13.01.2023', '26.01.2023', '21.01.2023',
       '05.01.2023', '25.01.2023', '07.01.2023', '12.01.2023',
       '02.01.2023', '19.05.2023', '12.05.2023', nan, '29.05.2023',
       '16.05.2023', '31.05.2023', '05.05.2023', '18.05.2023',
       '24.05.2023', '26.05.2023', '23.05.2023', '15.05.2023',
       '20.05.2023', '08.05.2023', '03.05.2023', '06.05.2023',
       '27.05.2023', '13.05.2023', '17.05.2023', '10.05.2023',
       '25.05.2023', '30.05.2023', '11.05.2023', '02.05.2023',
       '22.05.2023', '04.05.2023', '01.05.2023'], dtype=object)

In [79]:
# frame = pd.concat([frame3, frame2])

In [149]:
frame['СегментПартнера'] = frame['СегментПартнера'].str.lower()

## ABC

In [93]:
# frame = pd.read_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv")

In [95]:
frame['month'] = pd.to_datetime(frame['Заказ клиента / Реализация.Дата отгрузки'], dayfirst = True)

In [97]:
frame['month'] = frame['month'].dt.month

In [69]:
# abc_temp = frame.groupby(
#     ['СегментПартнера','Код', 'month']
# ).agg({"Вес (нетто), кг":"sum"}).reset_index().sort_values("Вес (нетто), кг",ascending = False)

In [110]:
abc_temp = frame.pivot_table(
    values='Вес (нетто), кг',
    index=['СегментПартнера','Код'],
    columns=['month']
).reset_index()

In [111]:
# здесь править
abc_temp['Ср_в_месяц'] = abc_temp.iloc[:, -12:].median(axis=1)

In [112]:
abc_temp

month,СегментПартнера,Код,1,2,3,4,5,6,7,8,9,10,11,12,Ср_в_месяц
0,horeca,00-00000740,0.192308,0.307692,0.200000,0.285714,0.347826,0.2,0.333333,0.22,0.28,0.244444,0.266667,0.213333,0.255556
1,horeca,00-00001042,0.200000,NaN,NaN,0.200000,0.200000,NaN,NaN,NaN,NaN,NaN,NaN,0.200000,0.200000
2,horeca,00-00001188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.200000,0.200000
3,horeca,00-00001254,0.100000,NaN,0.111111,NaN,0.133333,NaN,0.100000,NaN,NaN,0.100000,NaN,NaN,0.100000
4,horeca,00-00001401,0.070000,0.054000,NaN,NaN,NaN,NaN,0.145833,NaN,NaN,NaN,NaN,NaN,0.070000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5264,табаконист,УТ-УТ000215,NaN,NaN,NaN,NaN,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000
5265,табаконист,УТ-УТ000219,NaN,NaN,NaN,NaN,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000
5266,табаконист,УТ-УТ000222,NaN,NaN,NaN,NaN,0.028788,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.028788
5267,табаконист,УТ-УТ000224,NaN,NaN,NaN,NaN,0.025000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.025000
5268,табаконист,УТ-УТ000250,NaN,NaN,NaN,NaN,0.050000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.050000

In [114]:
abc_temp = abc_temp.drop(columns={1,2,3,4,5,6,7,8,9,10,11,12})

In [116]:
abc = abc_temp.sort_values("Ср_в_месяц",ascending = False)

In [152]:
abc = abc.rename(columns = {'Вес (нетто), кг': 'Сумма продаж'})

In [119]:
# Разделение данных по сегментам
segment_groups = abc.groupby('СегментПартнера')

In [120]:
segment_groups.head()

month          СегментПартнера          Код  Ср_в_месяц
2662                не указано  УТ-00016592    5.000000
3446   спец. кальянный магазин  УТ-00012816    3.692308
1463              личные нужды  00-00008426    3.533333
1488                      мопт  00-00000354    2.813658
1527                      мопт  УТ-00011707    2.591216
...                        ...          ...         ...
3100       продуктовый магазин  УТ-00016546    0.075000
3097       продуктовый магазин  УТ-00016134    0.075000
3078            пивной магазин  УТ-00016488    0.036667
3069            пивной магазин  УТ-00012905    0.035568
3067            пивной магазин  00-00010071    0.033333

[67 rows x 3 columns]

In [121]:
def perform_abc_analysis(segment_df):
    # Сортировка клиентов по сумме продаж в порядке убывания
    sorted_df = segment_df.sort_values(by='Ср_в_месяц', ascending=False)

    # Расчет общей суммы продаж
    total_sales = segment_df['Ср_в_месяц'].sum()

    # Расчет кумулятивной суммы продаж и доли кумулятивной суммы
    sorted_df['Кумулятивная сумма продаж'] = sorted_df['Ср_в_месяц'].cumsum()
    sorted_df['Доля кумулятивной суммы'] = sorted_df['Кумулятивная сумма продаж'] / total_sales

    # Определение классов клиентов на основе доли кумулятивной суммы
    sorted_df['Класс'] = pd.cut(sorted_df['Доля кумулятивной суммы'], bins=[0, 0.8, 0.95, 1.01], labels=['A', 'B', 'C'])

    return sorted_df

In [122]:
# Применение ABC-анализа к каждому сегменту
abc_results = segment_groups.apply(perform_abc_analysis)

In [126]:
abc_results.head()

month               СегментПартнера          Код  Ср_в_месяц  \
СегментПартнера
horeca          88           horeca  УТ-00014869    1.507692
                40           horeca  УТ-00012967    0.733333
                16           horeca  00-00008569    0.531579
                89           horeca  УТ-00014902    0.506061
                226          horeca  УТ-УТ000171    0.497222

month                Кумулятивная сумма продаж  Доля кумулятивной суммы Класс
СегментПартнера
horeca          88                    1.507692                 0.032726     A
                40                    2.241026                 0.048644     A
                16                    2.772605                 0.060182     A
                89                    3.278665                 0.071167     A
                226                   3.775887                 0.081960     A

In [158]:
# abc_results.to_excel(r"D:\Analysis Burn\OSH\ABC_Clients.xlsx", index=False)

In [127]:
abc_results.to_csv(r"D:\Analysis Burn\OSH\ABC_Clients.csv", index=False)

In [128]:
abc_results['СегментПартнера+Код'] = abc_results['СегментПартнера'] + abc_results['Код']

In [129]:
abc_results['СегментПартнера+Код'].is_unique

True

In [281]:
abc_results

month                СегментПартнера          Код  Ср_в_месяц  \
СегментПартнера
horeca          88            horeca  УТ-00014869    1.507692
                40            horeca  УТ-00012967    0.733333
                16            horeca  00-00008569    0.531579
                89            horeca  УТ-00014902    0.506061
                226           horeca  УТ-УТ000171    0.497222
...                              ...          ...         ...
табаконист      4068      табаконист  УТ-00012454    0.024722
                4083      табаконист  УТ-00012665    0.024615
                3872      табаконист  00-00010088    0.024500
                4161      табаконист  УТ-00013374    0.024464
                4210      табаконист  УТ-00013719    0.024444

month                 Кумулятивная сумма продаж  Доля кумулятивной суммы  \
СегментПартнера
horeca          88                     1.507692                 0.032726
                40                     2.241026                 0.048644
                16                     2.772605                 0.060182
                89                     3.278665                 0.071167
                226                    3.775887                 0.081960
...                                         ...                      ...
табаконист      4068                  79.273026                 0.998765
                4083                  79.297641                 0.999075
                3872                  79.322141                 0.999384
                4161                  79.346606                 0.999692
                4210                  79.371050                 1.000000

month                Класс    СегментПартнера+Код
СегментПартнера
horeca          88       A      horecaУТ-00014869
                40       A      horecaУТ-00012967
                16       A      horeca00-00008569
                89       A      horecaУТ-00014902
                226      A      horecaУТ-УТ000171
...                    ...                    ...
табаконист      4068     C  табаконистУТ-00012454
                4083     C  табаконистУТ-00012665
                3872     C  табаконист00-00010088
                4161     C  табаконистУТ-00013374
                4210     C  табаконистУТ-00013719

[5269 rows x 7 columns]

In [130]:
frame['СегментПартнера+Код'] = frame['СегментПартнера'] + frame['Код']

In [131]:
frame2 = frame.merge(abc_results[['Класс', 'СегментПартнера+Код']], how='left', on="СегментПартнера+Код", suffixes=('_left', '_right'))

In [134]:
frame2.to_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv")

## Потерянные клиенты

In [192]:
frame2 = pd.read_csv(r"D:\Analysis Burn\OSH\Всё в сборе.csv")

In [193]:
frame2['Класс'].unique()

array(['A', 'B', 'C'], dtype=object)

In [194]:
frame2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693388 entries, 0 to 693387
Data columns (total 22 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Unnamed: 0.1                              693388 non-null  int64
 1   Unnamed: 0                                693388 non-null  int64
 2   Основной менеджер                         693388 non-null  object
 3   Родитель                                  693388 non-null  object
 4   Бизнес-регион                             693388 non-null  object
 5   Группа клиентов (Клиенты)                 693388 non-null  object
 6   Клиент                                    693388 non-null  object
 7   Код                                       693388 non-null  object
 8   Адрес доставки                            693388 non-null  object
 9   Заказ клиента / Реализация.Дата отгрузки  693388 non-null  object
 10  СегментПартнера                           693388 non-null  object
 11  Количество                                693388 non-null  int64
 12  Вес (нетто), кг                           693388 non-null  float64
 13  Выручка                                   693388 non-null  float64
 14  Граммовка                                 693388 non-null  float64
 15  цена                                      693388 non-null  float64
 16  Бренд                                     693388 non-null  object
 17  Группа                                    693388 non-null  object
 18  Вкус                                      693388 non-null  object
 19  month                                     693388 non-null  int64
 20  СегментПартнера+Код                       693388 non-null  object
 21  Класс                                     693388 non-null  object
dtypes: float64(4), int64(4), object(14)
memory usage: 116.4+ MB

In [191]:
frame2

,Unnamed: 0.1,Unnamed: 0,Основной менеджер,Родитель,Бизнес-регион,Группа клиентов (Клиенты),Клиент,Код,Адрес доставки,Заказ клиента / Реализация.Дата отгрузки,...,"Вес (нетто), кг",Выручка,Граммовка,цена,Бренд,Группа,Вкус,month,СегментПартнера+Код,Класс
0,0,0,КАМ 001 (Шулагин),МОСКВА,Москва,29.05.2023,Hookah Market (Категорийный менеджер),УТ-00012216,"111024, г. Москва, ул. Авиамоторная, д. 73А...",2022-08-10,...,15.000,84750.0,100.0,565.0,BlackBurn,BlackBurn 100 гр,Tropic Jack (Джекфрут),8,спец. кальянный магазинУТ-00012216,A
1,1,1,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",2022-08-13,...,12.000,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,8,опт00-00009764,A
2,2,2,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",2022-08-13,...,12.000,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,Lemon Shock (Кислый лимон),8,опт00-00009764,A
3,3,3,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",2022-08-26,...,12.000,63000.0,200.0,1050.0,BlackBurn,BlackBurn 200 гр,Lemon Shock (Кислый лимон),8,опт00-00009764,A
4,4,4,КАМ 001 (Шулагин),МОСКВА,Москва,КЛП,Hookoff,00-00009764,"123592, Москва г, Внутригородская территория м...",2022-08-09,...,10.000,59600.0,25.0,149.0,BlackBurn,BlackBurn 25 гр,ICE BABY (Ягодный сорбет с грейпфрутом) (COLLA...,8,опт00-00009764,A
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
693383,693383,693383,PRE MO NARO-FOMINSK 001,РОП Москва и МО,Московская область,29.05.2023,Табак Дима(Супунёва),УТ-00014609,"Московская обл, г Одинцово, г Звенигород, Супо...",2023-05-31,...,0.025,80.0,25.0,80.0,BlackBurn,BlackBurn 25 гр,PeachBerry (Земляника персик),5,табаконистУТ-00014609,B
693384,693384,693384,PRE MO NARO-FOMINSK 001,РОП Москва и МО,Московская область,29.05.2023,Табак Дима(Супунёва),УТ-00014609,"Московская обл, г Одинцово, г Звенигород, Супо...",2023-05-31,...,0.025,80.0,25.0,80.0,BlackBurn,BlackBurn 25 гр,Raspberries (Малина),5,табаконистУТ-00014609,B
693385,693385,693385,PRE MO NARO-FOMINSK 001,РОП Москва и МО,Московская область,29.05.2023,Табак Дима(Супунёва),УТ-00014609,"Московская обл, г Одинцово, г Звенигород, Супо...",2023-05-31,...,0.025,80.0,25.0,80.0,BlackBurn,BlackBurn 25 гр,Shock? Currant Shock (Кислая черная смородина)...,5,табаконистУТ-00014609,B
693386,693386,693386,PRE MO NARO-FOMINSK 001,РОП Москва и МО,Московская область,29.05.2023,Табак Дима(Супунёва),УТ-00014609,"Московская обл, г Одинцово, г Звенигород, Супо...",2023-05-31,...,0.025,80.0,25.0,80.0,BlackBurn,BlackBurn 25 гр,Summer Basket (Ягодная корзина),5,табаконистУТ-00014609,B
693387,693387,693387,PRE MO NARO-FOMINSK 001,РОП Москва и МО,Московская область,29.05.2023,Табак Дима(Супунёва),УТ-00014609,"Московская обл, г Одинцово, г Звенигород, Супо...",2023-05-31,...,0.025,80.0,25.0,80.0,BlackBurn,BlackBurn 25 гр,TIK TAK (Драже из детства),5,табаконистУТ-00014609,B

In [32]:
# # преобразование колонки в дата подобный тип
# def convert_to_date(date_str):
#     date_obj = datetime.strptime(date_str, '%d.%m.%Y').date()
#     return date_obj

# frame2['Заказ клиента / Реализация.Дата отгрузки'] = frame2['Заказ клиента / Реализация.Дата отгрузки'].apply(convert_to_date)

In [202]:
frame2['номер_месяца'] = pd.to_datetime(frame2['Заказ клиента / Реализация.Дата отгрузки'], dayfirst=True)
frame2['номер_месяца'] = frame2['номер_месяца'].dt.month

frame2['название_месяца'] = pd.to_datetime(frame2['Заказ клиента / Реализация.Дата отгрузки'], dayfirst=True)
frame2['название_месяца'] = frame2['название_месяца'].dt.month_name()

frame2['год'] = pd.to_datetime(frame2['Заказ клиента / Реализация.Дата отгрузки'], dayfirst=True)
frame2['год'] = frame2['год'].dt.year

frame2['год_месяц'] = frame2['год'].astype(str) + '_' + frame2['номер_месяца'].astype(str)

In [352]:
pivot_table = frame2.pivot_table(
    values='Вес (нетто), кг',
    index=['Код','Клиент','СегментПартнера'],
    columns='год_месяц',
    aggfunc=lambda x: 1 if sum(x) > 0 else 0,
    fill_value=0
).reset_index()

In [353]:
# сумма 3-х месяцев
pivot_table['закуп_3_месяца'] = pivot_table.iloc[:, -5:-4].sum(axis=1)
# pivot_table['закуп_4_месяца_назад'] = pivot_table.iloc[:, -5:-5].sum(axis=1)

0       0
1       1
2       0
3       1
4       0
       ..
5846    0
5847    0
5848    0
5849    1
5850    0
Length: 5851, dtype: int64

In [345]:
pivot_table['потерянный_клиент'] = 0
pivot_table.loc[(pivot_table['закуп_4_месяца_назад'] == 1) & (pivot_table['закуп_3_месяца'] == 0),'потерянный_клиент'] = 1

In [346]:
pivot_table

год_месяц,Код,Клиент,СегментПартнера,2022_1,2022_10,2022_11,2022_12,2022_2,2022_3,2022_4,...,2022_8,2022_9,2023_1,2023_2,2023_3,2023_4,2023_5,закуп_3_месяца,закуп_4_месяца_назад,потерянный_клиент
0,00-00000001,Валера Босс,не указано,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
1,00-00000004,МЯТА (Ленинская слобода 26/2),кальянная,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,3,0.0,0
2,00-00000017,Royal Hookah,спец. кальянный магазин,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
3,00-00000054,Vloft'e (Вернадского),кальянная,1,0,1,0,1,1,0,...,0,1,0,1,0,1,1,2,0.0,0
4,00-00000071,Кияненко Ирина Александровна,табаконист,0,0,1,0,0,0,0,...,0,0,0,0,0,1,0,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5846,УТ-УТ000258,Руднев Дмитрий Владимирович,не указано,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0.0,0
5847,УТ-УТ000276,La Plage,кальянная,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,1,0.0,0
5848,ЦБ-00008402,Dimitsa Bar,horeca,1,1,0,0,1,0,1,...,1,0,0,0,0,0,0,0,0.0,0
5849,ЦБ-00008402,Dimitsa Bar,бар/ночной клуб,0,0,1,0,0,0,0,...,0,0,1,1,1,0,1,2,0.0,0
5850,ЦБ-00008409,Голов Данила Юрьевич,не указано,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().

In [305]:
pivot_table = pivot_table.loc[ pivot_table['закуп_3_месяца'] == 0 ]

In [300]:
pivot_table=pivot_table[['Клиент','СегментПартнера','Код']]

In [318]:
pivot_table

год_месяц,Код,Клиент,СегментПартнера,2022_1,2022_10,2022_11,2022_12,2022_2,2022_3,2022_4,...,2022_7,2022_8,2022_9,2023_1,2023_2,2023_3,2023_4,2023_5,закуп_3_месяца,закуп_4_месяца_назад
0,00-00000001,Валера Босс,не указано,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,00-00000004,МЯТА (Ленинская слобода 26/2),кальянная,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,3,1
2,00-00000017,Royal Hookah,спец. кальянный магазин,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,00-00000054,Vloft'e (Вернадского),кальянная,1,0,1,0,1,1,0,...,1,0,1,0,1,0,1,1,2,1
4,00-00000071,Кияненко Ирина Александровна,табаконист,0,0,1,0,0,0,0,...,0,0,0,0,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5846,УТ-УТ000258,Руднев Дмитрий Владимирович,не указано,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
5847,УТ-УТ000276,La Plage,кальянная,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
5848,ЦБ-00008402,Dimitsa Bar,horeca,1,1,0,0,1,0,1,...,0,1,0,0,0,0,0,0,0,0
5849,ЦБ-00008402,Dimitsa Bar,бар/ночной клуб,0,0,1,0,0,0,0,...,0,0,0,1,1,1,0,1,2,1
5850,ЦБ-00008409,Голов Данила Юрьевич,не указано,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [289]:
pivot_table['СегментПартнера+Код'] = pivot_table['СегментПартнера'] + pivot_table['Код']

In [290]:
lost = pivot_table.merge(abc_results[['Класс', 'СегментПартнера+Код', 'Ср_в_месяц']], how='left', on="СегментПартнера+Код", suffixes=('_left', '_right'))

In [291]:
lost

,Клиент,СегментПартнера,Код,СегментПартнера+Код,Класс,Ср_в_месяц
0,Валера Босс,не указано,00-00000001,не указано00-00000001,C,0.025000
1,Royal Hookah,спец. кальянный магазин,00-00000017,спец. кальянный магазин00-00000017,A,0.225000
2,Глав ДЫМ (Мира п-кт),табаконист,00-00000090,табаконист00-00000090,B,0.025000
3,Часовских Михаил Михайлович,не указано,00-00000093,не указано00-00000093,A,0.200000
4,Часовских Михаил Михайлович,прочее,00-00000093,прочее00-00000093,A,0.233333
...,...,...,...,...,...,...
2573,Арсений Торговцев,не указано,УТ-00019502,не указаноУТ-00019502,C,0.025000
2574,кудрявцев марк,не указано,УТ-00019509,не указаноУТ-00019509,C,0.029167
2575,Константин (РБ),табаконист,УТ-00019517,табаконистУТ-00019517,A,0.075000
2576,Dimitsa Bar,horeca,ЦБ-00008402,horecaЦБ-00008402,A,0.200000
2577,Голов Данила Юрьевич,не указано,ЦБ-00008409,не указаноЦБ-00008409,C,0.025000

In [292]:
lost.drop(columns={'Код', 'СегментПартнера+Код'})

                           Клиент          СегментПартнера Класс  Ср_в_месяц
0                     Валера Босс               не указано     C    0.025000
1                    Royal Hookah  спец. кальянный магазин     A    0.225000
2            Глав ДЫМ (Мира п-кт)               табаконист     B    0.025000
3     Часовских Михаил Михайлович               не указано     A    0.200000
4     Часовских Михаил Михайлович                   прочее     A    0.233333
...                           ...                      ...   ...         ...
2573            Арсений Торговцев               не указано     C    0.025000
2574               кудрявцев марк               не указано     C    0.029167
2575              Константин (РБ)               табаконист     A    0.075000
2576                  Dimitsa Bar                   horeca     A    0.200000
2577        Голов  Данила Юрьевич               не указано     C    0.025000

[2578 rows x 4 columns]

In [294]:
lost.to_excel(r"D:\Analysis Burn\OSH\lost_clients.xlsx", index=False)

In [83]:
df.to_excel(r"C:\Users\User\Desktop\a.xlsx", index=False)