In [1]:
import pandas as pd

In [139]:
dont_have_in_addresses = pd.read_excel(r"C:\Users\User\Desktop\Аналитика Капралов\ББСВМХ\dont_have_in_addresses.xlsx")

In [140]:
addresses = pd.read_excel(r"C:\Users\User\Desktop\Аналитика Капралов\ББСВМХ\dim_address с корректировками (НЕ ИЗМЕНЯТЬ).xlsx")

In [263]:
addresses.head()

,Исходный адрес,Адрес,Тип региона,Регион,Тип района,Район,Тип города,Город,Тип н/п,Н/п,Тип улицы,Улица,Тип дома,Дом
0,"Алтайский край, г Алейск, пер Ульяновский, д 65А","Алтайский край, Алейск г, Ульяновский пер, д 65",край,Алтайский,NaN,NaN,г,Алейск,NaN,NaN,пер,Ульяновский,д,65
1,"Алтайский край, г Алейск, ул Пионерская, д 134","Алтайский край, Алейск г, Пионерская ул, д 134",край,Алтайский,NaN,NaN,г,Алейск,NaN,NaN,ул,Пионерская,д,134
2,"Алтайский край, г Белокуриха, ул Партизанская,...","Алтайский край, Белокуриха г, Партизанская ул,...",край,Алтайский,NaN,NaN,г,Белокуриха,NaN,NaN,ул,Партизанская,д,7/1
3,"Алтайский край, г Белокуриха, ул Советская, зд...","Алтайский край, Белокуриха г, Советская ул, зд...",край,Алтайский,NaN,NaN,г,Белокуриха,NaN,NaN,ул,Советская,зд,7/4
4,"Алтайский край, г Бийск, ул Александра Матросо...","Алтайский край, Бийск г, Александра Матросова ...",край,Алтайский,NaN,NaN,г,Бийск,NaN,NaN,ул,Александра Матросова,д,30

In [166]:
region = addresses.drop_duplicates(["Тип региона", "Регион"])
region = region[["Тип региона", "Регион"]]
region = region.dropna()

In [184]:
district = addresses.drop_duplicates(["Тип района", "Район"])
district = district[["Тип района", "Район"]]
district = district.dropna()

In [241]:
city = addresses.drop_duplicates(["Тип города", "Город"])
city = city[["Тип города", "Город"]]
city = city.dropna()

In [271]:
selo = addresses.drop_duplicates(["Тип н/п", "Н/п"])
selo = selo[["Тип н/п", "Н/п"]]
selo = selo.dropna()

In [344]:
street = addresses.drop_duplicates(["Тип улицы", "Улица"])
street = street[["Тип улицы", "Улица"]]
street = street.dropna()

In [345]:
house = addresses.drop_duplicates(["Тип дома", "Дом"])
house = house[["Тип дома", "Дом"]]
house = house.dropna()

### Подготовка колонок (превращение в нижний регистр)

In [202]:
dont_have_in_addresses['адрес_обработ'] =  dont_have_in_addresses['Адрес'].str.lower()

In [204]:
region['регион_обработ'] = region['Регион'].str.lower()

C:\Users\User\AppData\Local\Temp\ipykernel_1484\1499616036.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region['регион_обработ'] = region['Регион'].str.lower()

In [309]:
region['Тип_региона_обработ'] = region['Тип региона'].str.lower()

C:\Users\User\AppData\Local\Temp\ipykernel_1484\1573870015.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  region['Тип_региона_обработ'] = region['Тип региона'].str.lower()

In [206]:
district['район_обработ'] = district['Район'].str.lower()

In [316]:
district['тип_района_обработ'] = district['Тип района'].str.lower()

In [248]:
city["город_обработ"] = city['Город'].str.lower()

In [318]:
city["тип_города_обработ"] = city['Тип города'].str.lower()

In [ ]:
selo["Н/п_обработ"] = selo['Н/п'].str.lower()

In [ ]:
selo["тип_н/п_обработ"] = selo['Тип н/п'].str.lower()

In [346]:
street['Улица_обработ'] = street['Улица'].str.lower()

In [347]:
street['тип_улицы_обработ'] = street['Тип улицы'].str.lower()

In [352]:
house.head()

  Тип дома  Дом Дом_обработ Тип_дома_обработ
0        д   65          65                д
1        д  134         134                д
2        д  7/1         7/1                д
3       зд  7/4         7/4               зд
4        д   30          30                д

In [ ]:
house[['points', 'assists']] = house[['points', 'assists']].astype (int)

In [348]:
house['Дом_обработ'] = house['Дом'].str.lower()

In [349]:
house['Тип_дома_обработ'] = house['Тип дома'].str.lower()

### Ниже поиск

In [340]:
dont_have_in_addresses.head()

,Адрес,адрес_обработ,Регион,Тип региона,Тип района,Район,Тип города,Город
0,"Астраханская обл, г Харабали, кв-л 8-й, д 2Б","астраханская обл, г харабали, кв-л 8-й, д 2б",Астраханская,обл,NaN,NaN,г,Харабали
1,"г Астрахань, пер Костромской, д 26/5","г астрахань, пер костромской, д 26/5",NaN,NaN,NaN,NaN,г,Астрахань
2,"г Астрахань, ул Бориса Алексеева, д 2Б, пом 98","г астрахань, ул бориса алексеева, д 2б, пом 98",NaN,NaN,NaN,NaN,г,Астрахань
3,"Брянская обл, г Жуковка, ул Калинина, д 30А","брянская обл, г жуковка, ул калинина, д 30а",Брянская,обл,NaN,NaN,г,Жуковка
4,"Брянская обл, г Почеп, ул Усиевича, стр 78А","брянская обл, г почеп, ул усиевича, стр 78а",Брянская,обл,NaN,NaN,г,Почеп

In [353]:
district.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1207 entries, 10 to 56154
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Тип района          1207 non-null   object
 1   Район               1207 non-null   object
 2   район_обработ       1207 non-null   object
 3   тип_района_обработ  1207 non-null   object
dtypes: object(4)
memory usage: 47.1+ KB

In [311]:
# регион обработка
for index1, row1 in dont_have_in_addresses.iterrows():
    for index2, row2 in region.iterrows():
        if row2['регион_обработ']+" " + row2['Тип региона'] in row1['адрес_обработ'] or \
        row2['Тип региона']+" "+row2['регион_обработ'] in row1['адрес_обработ']:
            dont_have_in_addresses.at[index1, 'Тип региона'] = row2['Тип региона']
            dont_have_in_addresses.at[index1, 'Регион'] = row2['Регион']

In [324]:
# район обработка
for index1, row1 in dont_have_in_addresses.iterrows():
    for index2, row2 in district.iterrows():
        if row2['район_обработ']+ " " + row2['тип_района_обработ'] in row1['адрес_обработ'] or \
        row2['тип_района_обработ']+ " " + row2['район_обработ'] in row1['адрес_обработ']:
            dont_have_in_addresses.at[index1, 'Тип района'] = row2['Тип района']
            dont_have_in_addresses.at[index1, 'Район'] = row2['Район']

In [327]:
# город обработка
for index1, row1 in dont_have_in_addresses.iterrows():
    for index2, row2 in city.iterrows():
        if row2['город_обработ'] + " " + row2['тип_города_обработ'] in row1['адрес_обработ'] or \
        row2['тип_города_обработ'] + " " + row2['город_обработ'] in row1['адрес_обработ']:
            dont_have_in_addresses.at[index1, 'Тип города'] = row2['Тип города']
            dont_have_in_addresses.at[index1, 'Город'] = row2['Город']

In [341]:
# н/п обработка
for index1, row1 in dont_have_in_addresses.iterrows():
    for index2, row2 in selo.iterrows():
        if row2['Н/п_обработ'] + " " + row2['тип_н/п_обработ'] in row1['адрес_обработ'] or \
         row2['тип_н/п_обработ'] + " " + row2['Н/п_обработ'] in row1['адрес_обработ']:
            dont_have_in_addresses.at[index1, 'Н/п'] = row2['Н/п']
            dont_have_in_addresses.at[index1, 'Тип н/п'] = row2['Тип н/п']

In [350]:
# улица обработка
for index1, row1 in dont_have_in_addresses.iterrows():
    for index2, row2 in street.iterrows():
        if row2['Улица_обработ'] + " " + row2['тип_улицы_обработ'] in row1['адрес_обработ'] or \
         row2['тип_улицы_обработ'] + " " + row2['Улица_обработ'] in row1['адрес_обработ']:
            dont_have_in_addresses.at[index1, 'Улица'] = row2['Улица']
            dont_have_in_addresses.at[index1, 'Тип улицы'] = row2['Тип улицы']

In [351]:
# дом обработка
for index1, row1 in dont_have_in_addresses.iterrows():
    for index2, row2 in house.iterrows():
        if row2['Дом_обработ'].astype(str) + " " + row2['Тип_дома_обработ'].astype(str) in row1['адрес_обработ'] or \
         row2['Тип_дома_обработ'].astype(str) + " " + row2['Дом_обработ'].astype(str) in row1['адрес_обработ']:
            dont_have_in_addresses.at[index1, 'Дом'] = row2['Дом']
            dont_have_in_addresses.at[index1, 'Тип дома'] = row2['Тип дома']

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
dont_have_in_addresses.to_excel(r'C:\Users\User\Desktop\Аналитика Капралов\временно\success.xlsx')