In [367]:
import pandas as pd

In [368]:
path_for_work = r"D:\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Сочи, Адлер Непомнящие"

In [369]:
osh = pd.read_excel(r"D:\Analysis Burn\Дистрибьютеры отчетность\Source\Отчеты\Сочи, Адлер Непомнящие\Sell_Out_Сочи_Непомнящие_без_июня.xlsx")

In [370]:
osh.head(1)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор
0,не указано,НФ-000806,не указано,"""Табачный Джо"" Настя Чешуина",не указано,2023-05-30,Overdose,Overdose 25 гр,Manila Malina (Филиппинская малина),25,1,0.025,205.0,205,47

In [371]:
osh.head(1)

,Торговый представитель,Код клиента,Сегмент,Клиент,Адрес доставки,Дата отгрузки,Бренд,Группа,Вкус,Граммовка,Количество шт,ВЕС,Цена,стоимость,Дистрибьютор
0,не указано,НФ-000806,не указано,"""Табачный Джо"" Настя Чешуина",не указано,2023-05-30,Overdose,Overdose 25 гр,Manila Malina (Филиппинская малина),25,1,0.025,205.0,205,47

In [372]:
osh["Месяц"] = pd.to_datetime(osh['Дата отгрузки'], dayfirst = True)

In [373]:
osh["Год"] = pd.to_datetime(osh['Дата отгрузки'], dayfirst = True)

In [374]:
osh["Год"] = osh["Год"].dt.year

In [375]:
osh["Месяц"] = osh["Месяц"].dt.month

In [376]:
osh["Месяц"].unique()

array([5, 4, 3], dtype=int64)

In [377]:
# пять месяца отфильтровать
osh = osh.loc[(osh['Год'] == 2023) & (osh['Месяц'] >= 1) & (osh['Месяц'] <= 5)]

In [378]:
osh_2 = osh.copy(deep=True)

In [379]:
osh_2.loc[:, 'Месяц название'] = osh_2.loc[:,'Год'].astype(str) + '-' + osh_2.loc[:, 'Месяц'].astype(str)

In [388]:
pivot_table = osh_2.pivot_table(values='ВЕС',
                             index=['Клиент', 'Бренд', 'Вкус'],
                             columns='Месяц название',
                             aggfunc=lambda x: 1 if sum(x) > 0 else 0,
                             fill_value=0).reset_index()

In [389]:
# сегмент только для ошишы
# 
# pivot_table = osh_2.pivot_table(values='ВЕС',
#                              index=['Сегмент','Клиент', 'Бренд', 'Вкус'],
#                              columns='Месяц название',
#                              aggfunc=lambda x: 1 if sum(x) > 0 else 0,
#                              fill_value=0).reset_index()

In [390]:
pivot_table

Месяц название,Клиент,Бренд,Вкус,2023-3,2023-4,2023-5
0,"""Табачный Джо"" Алёна Кирикова",Banger,"Bluemist (Голубика, черника и грейпфрут)",0,0,1
1,"""Табачный Джо"" Алёна Кирикова",Banger,"Green Day (Яблоко, киви, кислинка)",0,1,0
2,"""Табачный Джо"" Алёна Кирикова",Banger,"Lambo (Дыня, мелисса, мята)",0,0,1
3,"""Табачный Джо"" Алёна Кирикова",Banger,Lemon Tonic (Лимонный Тоник),1,0,0
4,"""Табачный Джо"" Алёна Кирикова",Banger,Mikado (Ананас),0,1,1
...,...,...,...,...,...,...
4865,франчайзи Харченко Алексей Николаевич ИП Р/С,Overdose,Pineapple Chunks (Ананасовые кусочки),0,1,0
4866,франчайзи Харченко Алексей Николаевич ИП Р/С,Overdose,Pink Grapefruit (Розовый грейпфрут),0,1,0
4867,франчайзи Харченко Алексей Николаевич ИП Р/С,Overdose,Strawberry Kiwi (Клубника-киви),0,1,0
4868,франчайзи Харченко Алексей Николаевич ИП Р/С,Overdose,Watermelon (Сахарный арбуз),0,1,0
4869,франчайзи Харченко Алексей Николаевич ИП Р/С,Overdose,Wild Srawberry (Дикая земляника),0,1,0

In [391]:
# здесь править
pivot_table['Общая сумма'] = pivot_table.iloc[:, -3:].sum(axis=1)

In [392]:
# pivot_table.columns = pivot_table.columns.map(lambda x: '_'.join(map(str, x)))

In [393]:
pivot_table['Общая сумма'].unique()

array([1, 2, 3], dtype=int64)

In [394]:
pivot_table2 = pivot_table.pivot_table(values='Клиент',
                             index=['Бренд', 'Вкус'],
                             columns='Общая сумма',
                             aggfunc=pd.Series.count,
                             fill_value=0,
                             margins=False).reset_index()

In [395]:
# сегмент только ошише нужен
# pivot_table2 = pivot_table.pivot_table(values='Клиент',
#                              index=['Сегмент','Бренд', 'Вкус'],
#                              columns='Общая сумма',
#                              aggfunc=pd.Series.count,
#                              fill_value=0,
#                              margins=False).reset_index()

In [396]:
pivot_table2.head(2)

Общая сумма Бренд                               Вкус  1  2  3
0              B3                Ambrosia (Амброзия)  3  0  3
1              B3  Another Pineapple (Другой ананас)  2  0  1

In [365]:
pivot_table.to_excel(path_for_work + "\\New.xlsx", index=False)

In [366]:
pivot_table2.to_excel(path_for_work + "\\New2.xlsx", index=False)